<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetPushMsgTaskList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT [nid]
      ,[Type]
      ,[PushType]
      ,[Push_Title]
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Wap_Url]
      ,[Push_Users]
      ,[Status]
      ,[All_Count]
      ,[Suc_Count]
      ,[Action_Time]
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      ,[PackageCode]
      ,[PackageAmount]
      FROM [CMS].[dbo].[PushInfoPlanManager]
      where nid=@TaskID AND [Status]='1'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateSendPushStatus" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[PushInfoPlanManager] SET
        [Status] = @Status
        where nid= @TaskID AND [Status]= @OldStatus
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@Status" dbType="String" />
      <param name="@OldStatus" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertPushInfoPlanActionHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [CMS].[dbo].[PushInfoPlanAction_History]
           ([PPID]
           ,[UserID]
           ,[DeviceToken]
           ,[Action_Time]
           ,[Result])
     VALUES
           (@TaskID
           ,@UserID
           ,@DeviceToken
           ,getdate()
           ,@Result)
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@UserID" dbType="String" />
      <param name="@DeviceToken" dbType="String" />
      <param name="@Result" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdatePushInfoPlanSuccCount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [CMS].[dbo].[PushInfoPlanManager] SET
      Suc_Count = Suc_Count + 1
      where nid= @TaskID
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CheckPushInfoPlanActionHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT [nid]
            ,[PPID]
            ,[UserID]
            ,[DeviceToken]
            ,[Action_Time]
            ,[Result]
        FROM [CMS].[dbo].[PushInfoPlanAction_History]
        where [PPID]=@TaskID AND [UserID]=@UserID
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

</dataOperations>