<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetImageByHotelID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT *
      FROM [CMS].[dbo].[UploadImage] 
      where [Hotel_ID]=@HotelID
      ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
    </parameters>
  </dataCommand>
 
  <dataCommand name="InsertImage" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      Insert into [CMS].[dbo].[UploadImage] ([Hotel_ID],[imgName],[extName],[imgPath],[urlBak]) values(@HotelID,@imgName,@extName,@imgPath,@urlBak)
      ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@imgName" dbType="String" />
      <param name="@extName" dbType="String" />
      <param name="@imgPath" dbType="String" />
      <param name="@urlBak" dbType="String" />
      
    </parameters>
  </dataCommand>

  <dataCommand name="deleteImage" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      delete [CMS].[dbo].[UploadImage] where [Hotel_ID]=@HotelID
      ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" /> 
    </parameters>
  </dataCommand>

</dataOperations>