<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="SelectCmsOrderEventHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(4000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N'1=1'
    IF LEN(@EVENT_ID) > 0
    SET @WhereSql = @WhereSql + N' AND tt.EVENTID = @EVENT_ID'

    IF LEN(@STARTDTIME) > 0
    SET @WhereSql = @WhereSql + N' AND CAST(''' +@STARTDTIME +''' AS datetime) <= tt.FOGCREATER'
    IF LEN(@ENDDTIME) > 0
    SET @WhereSql = @WhereSql + N' AND tt.FOGCREATER <= CAST(''' +@ENDDTIME +''' AS datetime)'
    SET @SelectSql=N'
        select tt.EVENTID,
        tt.EVENTLMID,
        CASE WHEN tt.BOOK_STATUS = ''0'' THEN ''新建'' when tt.BOOK_STATUS = ''1'' then ''新建入FOG成功'' when tt.BOOK_STATUS = ''2'' then ''新建入fog失败'' when tt.BOOK_STATUS = ''3'' then ''超时'' when tt.BOOK_STATUS = ''4'' then ''取消单'' when tt.BOOK_STATUS = ''5'' then ''成功'' ELSE '''' END AS [BOOKSTATUS],
        CASE WHEN tt.PAY_STATUS = ''0'' THEN ''未支付'' when tt.PAY_STATUS = ''1'' then ''支付成功'' when tt.PAY_STATUS = ''2'' then ''等待支付'' when tt.PAY_STATUS = ''3'' then ''支付中'' when tt.PAY_STATUS = ''4'' then ''支付失败'' when tt.PAY_STATUS = ''5'' then ''支付确认中'' when tt.PAY_STATUS = ''6'' then ''异常取消'' ELSE '''' END AS PAYSTATUS,
        tt.BOOKSOURCE,
        tt.LOGINMOBILE,
		    tt.FOGCREATER,
		    tt.APPNOTIFYR,
		    tt.PAYNOTIFYR,
		    tt.FOGUNLOCKR,
		    tt.FOGCANCELR 
      from (SELECT  lhm.[EVENT_TYPE]
          ,lhm.[EVENT_LM_ID] AS EVENTLMID
          ,lhc.[EVENT_ID] AS EVENTID
          ,lhm.[BOOK_STATUS] AS BOOK_STATUS
          ,lhm.[PAY_STATUS] AS PAY_STATUS
          ,lhm.[BOOK_SOURCE] AS BOOKSOURCE
          ,lhm.[LOGIN_MOBILE] AS LOGINMOBILE
          ,lhc.[EVENT_TIME] AS FOGCREATER
          ,lhp.[EVENT_TIME] AS APPNOTIFYR
          ,lhn.[EVENT_TIME] AS PAYNOTIFYR
          ,lhu.[EVENT_TIME] AS FOGUNLOCKR
          ,lhl.[EVENT_TIME] AS FOGCANCELR
        FROM [dbo].[LmOrderEvent_History] lhm
        left join [dbo].[LmOrderEvent_History] lhc on lhm.nid = lhc.nid and lhc.[EVENT_TYPE]=''fog-create'' and lhc.[EVENT_RESULT]=''success''
        left join [dbo].[LmOrderEvent_History] lhp on lhm.[EVENT_ID] = lhp.[EVENT_ID] and lhp.[EVENT_TYPE]=''app-notify'' and lhp.[EVENT_RESULT]=''success''
        left join [dbo].[LmOrderEvent_History] lhn on lhm.[EVENT_ID] = lhn.[EVENT_ID] and lhn.[EVENT_TYPE]=''pay-notify'' and lhn.[EVENT_RESULT]=''success''
        left join [dbo].[LmOrderEvent_History] lhu on lhm.[EVENT_ID] = lhu.[EVENT_ID] and lhu.[EVENT_TYPE]=''fog-unlock'' and lhu.[EVENT_RESULT]=''success''
        left join [dbo].[LmOrderEvent_History] lhl on lhm.[EVENT_ID] = lhl.[EVENT_ID] and lhl.[EVENT_TYPE]=''fog-cancel'' and lhl.[EVENT_RESULT]=''success''
        where lhm.[EVENT_TYPE]=''fog-create'') tt WHERE '+ @WhereSql + ' ORDER BY tt.FOGCREATER DESC'
    EXEC sp_executesql @SelectSql,
    N'
      @EVENT_ID VARCHAR(255),
      @STARTDTIME NVARCHAR(100),
      @ENDDTIME NVARCHAR(100)',
      @EVENT_ID,
      @STARTDTIME,
      @ENDDTIME
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENT_ID" dbType="String" />
      <param name="@STARTDTIME" dbType="String" />
      <param name="@ENDDTIME" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectCmsOrderDetailEventHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    SELECT [nid]
      ,CASE WHEN [EVENT_TYPE] = 'fog-create' THEN '创建订单' WHEN [EVENT_TYPE] ='app-notify' THEN '手机通知' WHEN  [EVENT_TYPE] =  'pay-notify' THEN '支付中心通知' WHEN  [EVENT_TYPE] =  'fog-unlock' THEN '解除订单' WHEN [EVENT_TYPE] =  'fog-cancel' THEN '订单取消' ELSE '' END AS EVENTTYPE
      ,[EVENT_LM_ID]
      ,[EVENT_ID]
      ,[BOOK_STATUS]
      ,[PAY_STATUS]
      ,[BOOK_SOURCE]
      ,[LOGIN_MOBILE]
      ,[EVENT_CONTENT]
      ,[EVENT_RESULT] AS EVENTRESULT
      ,[LMLOG_ID]
      ,[EVENT_TIME] AS EVENTTIME
      ,'' AS LAG
  FROM [CMS].[dbo].[LmOrderEvent_History] 
  where
  ([EVENT_LM_ID] = @EVENT_LM_ID) OR ([EVENT_ID] in (SELECT [EVENT_ID] FROM [CMS].[dbo].[LmOrderEvent_History] where [EVENT_LM_ID] = @EVENT_LM_ID))
  ORDER BY [EVENT_TIME]
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENT_LM_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectCmsSalesManagerList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
      csu.[User_UserID] AS SALESID
      ,csu.[User_Account]
      ,csu.[User_DspName] AS SALESNAME
      FROM dbo.CMS_SYS_USERS csu
      inner join dbo.CMS_SYS_USER_ELEMENT csue 
      on csu.[User_Account] = csue.[User_Account]
      where csue.Role_ID=5
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="SelectCmsSalesManagerHotelList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
      distinct csu.[User_Account] AS UserAccount
      FROM dbo.CMS_SYS_USERS csu
      left join dbo.HotelSalesManager hsm
      on csu.[User_Account]=hsm.User_Account
      where csu.[User_UserID]=@UserID AND hsm.[Status]='1'
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>
  
</dataOperations>