<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetEventHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
   DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @CountSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)

    IF LEN(@SortField)=0 
	    SET @SortField = N'CL.CREATEDATE' 
	IF LEN(@SortType)=0 
	    SET @SortType = N'DESC' 

    SET @WhereSql=N'WHERE 1=1'
    IF LEN(@USERID) > 0
    SET @WhereSql = @WhereSql + N' AND CL.USERID LIKE @USERID'
     IF LEN(@USERNAME) > 0
    SET @WhereSql =@WhereSql + N' AND CL.USERNAME LIKE @USERNAME'
     IF LEN(@IPADDRESS) > 0
    SET @WhereSql =@WhereSql + N' AND CL.IPADDRESS LIKE @IPADDRESS'
     IF LEN(@EVENTTYPE) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_TYPE LIKE @EVENTTYPE'
     IF LEN(@EVENTID) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_ID LIKE @EVENTID'
     IF LEN(@EVENTCONTENT) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_CONTENT LIKE @EVENTCONTENT'
     IF LEN(@EVENTRESULT) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_RESULT LIKE @EVENTRESULT'
    
    IF LEN(@StartDTime) > 0
    SET @WhereSql =N' AND CAST(' +@StartDTime +' AS DATE) <= CL.CREATEDATE'
    IF LEN(@EndDTime) > 0
    SET @WhereSql =N' AND CL.CREATEDATE <= CAST(' +@EndDTime +' AS DATE)
    
    SET @SelectSql=N'
    SELECT 
	     TT.RowId
	    ,TT.[USERID]
      ,TT.[USERNAME]
      ,TT.[IPADDRESS]
      ,TT.[DATETIME]
      ,TT.[EVENT_TYPE]
      ,TT.[EVENT_ID]
      ,TT.[EVENT_CONTENT]
      ,TT.[EVENT_RESULT]
    FROM(
    SELECT ROW_NUMBER() OVER(ORDER BY @SortField + @SortType) AS RowId
		  ,CL.[USERID]
      ,CL.[USERNAME]
      ,CL.[IPADDRESS]
      ,CL.[DATETIME]
      ,CL.[EVENT_TYPE]
      ,CL.[EVENT_ID]
      ,CL.[EVENT_CONTENT]
      ,CL.[EVENT_RESULT]
		  FROM [CMS].[dbo].[WebSiteEvent_History] CL
    '+@WhereSql+N'
    )TT 
    WHERE TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

    SET @CountSql = N'SELECT @TotalCount=COUNT(CL.nid) FROM [CMS].[dbo].[WebSiteEvent_History] CL'+@WhereSql

    EXEC sp_executesql @SelectSql,
    N'@USERID NVARCHAR(50),
      @USERNAME NVARCHAR(255),
      @IPADDRESS NVARCHAR(50),
      @EVENTTYPE NVARCHAR(255),
      @EVENTID NVARCHAR(50),
      @EVENTCONTENT NVARCHAR(MAX),
      @EVENTRESULT NVARCHAR(1024),
      @StartDTime NVARCHAR(100),
      @EndDTime NVARCHAR(100),
      @SortType NVARCHAR(100),
      @SortField NVARCHAR(100),
      @PageSize INT,
      @PageCurrent INT',
      @USERID,
      @USERNAME,
      @IPADDRESS,
      @EVENTTYPE,
      @EVENTID,
      @EVENTCONTENT,
      @EVENTRESULT,
      @StartDTime,
      @EndDTime,
      @SortType,
      @SortField,
      @PageSize,
      @PageCurrent
  
    EXEC sp_executesql @CountSql,
    N'@USERID NVARCHAR(50),
      @USERNAME NVARCHAR(255),
      @IPADDRESS NVARCHAR(50),
      @EVENTTYPE NVARCHAR(255),
      @EVENTID NVARCHAR(50),
      @EVENTCONTENT NVARCHAR(MAX),
      @EVENTRESULT NVARCHAR(1024),
      @StartDTime NVARCHAR(100),
      @EndDTime NVARCHAR(100),
      @TotalCount INT OUTPUT',
      @USERID,
      @USERNAME,
      @IPADDRESS,
      @EVENTTYPE,
      @EVENTID,
      @EVENTCONTENT,
      @EVENTRESULT,
      @StartDTime,
      @EndDTime,
      @TotalCount OUTPUT
      ]]>
    </commandText>
    <parameters>
      <param name="@USERID" dbType="String" />
      <param name="@USERNAME" dbType="String"/>
      <param name="@IPADDRESS" dbType="String" />
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTID" dbType="String" />
      <param name="@EVENTCONTENT" dbType="String" />
      <param name="@EVENTRESULT" dbType="String" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>
  <dataCommand name="InsertEventHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[WebSiteEvent_History]
           ([USERID]
           ,[USERNAME]
           ,[IPADDRESS]
           ,[CREATEDATE]
           ,[EVENT_TYPE]
           ,[EVENT_ID]
           ,[EVENT_CONTENT]
           ,[EVENT_RESULT])
     VALUES
           (@USERID
           ,@USERNAME
           ,@IPADDRESS
           ,GETDATE()
           ,@EVENTTYPE
           ,@EVENTID
           ,@EVENTCONTENT
           ,@EVENTRESULT)
      ]]>
    </commandText>
    <parameters>
      <param name="@USERID" dbType="String" />
      <param name="@USERNAME" dbType="String"/>
      <param name="@IPADDRESS" dbType="String" />
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTID" dbType="String" />
      <param name="@EVENTCONTENT" dbType="String" />
      <param name="@EVENTRESULT" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectConfigList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N'WHERE 1=1'
       IF LEN(@Type) > 0
    SET @WhereSql = @WhereSql + N' AND [Type] = @Type'
     
     SET @SelectSql=N'
     SELECT [nid]
        ,[DATETIME]
        ,[Type]
        ,[Key]
        ,[Value]
        ,[USERID]
        FROM [CMS].[dbo].[WebSite_SysConfiguration]
    '+@WhereSql + ' ORDER BY [Key]'
    
    EXEC sp_executesql @SelectSql,
    N'@Type NVARCHAR(50)',
      @Type
      ]]>
    </commandText>
    <parameters>
      <param name="@Type" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectConfigListForSort" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N'WHERE 1=1'
       IF LEN(@Type) > 0
    SET @WhereSql = @WhereSql + N' AND [Type] = @Type'
     
     SET @SelectSql=N'
     SELECT [nid]
        ,[DATETIME]
        ,[Type]
        ,[Key]
        ,[Value]
        ,[USERID]
        FROM [CMS].[dbo].[WebSite_SysConfiguration]
    '+@WhereSql 
    
    EXEC sp_executesql @SelectSql,
    N'@Type NVARCHAR(50)',
      @Type
      ]]>
    </commandText>
    <parameters>
      <param name="@Type" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectConfigValue" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N'WHERE 1=1'
       IF LEN(@Type) > 0
    SET @WhereSql = @WhereSql + N' AND [Type] = @Type AND [Key] = @Key'
     
     SET @SelectSql=N'
     SELECT [nid]
        ,[DATETIME]
        ,[Type]
        ,[Key]
        ,[Value]
        ,[USERID]
        FROM [CMS].[dbo].[WebSite_SysConfiguration]
    '+@WhereSql + ' ORDER BY [Key]'
    
    EXEC sp_executesql @SelectSql,
    N'@Type NVARCHAR(50),
      @Key NVARCHAR(50)',
      @Type,
      @Key
      ]]>
    </commandText>
    <parameters>
      <param name="@Type" dbType="String" />
      <param name="@Key" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectLmdbStructLog" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
     [DBNM] AS Cols
      ,[DBCONTENT]
      FROM [CMS].[dbo].[LMDB_STRUCT_LOG] where [STATUS]='1' order by [DBNM] asc
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="SelectSqlMenuSelectFromCMS" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
     [name] AS Cols
      ,'' AS [DBCONTENT]
      FROM sys.tables order by [name] asc
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>


  <dataCommand name="WebAutoCruiseSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         SELECT '['+ convert(nvarchar,CruiseID) +']'+ShipNM + '('+ Destination + ' '+ Days + '天 ' + Port + ')' AS REVALUE_ALL
      FROM[CMS].[dbo].[Route]
      where 
      ((@PARAMETERS IS NULL) OR (ShipNM like '%' + @PARAMETERS + '%' ) OR (Destination like '%' + @PARAMETERS + '%' ))
      order by [CDTime] asc
      ]]>
    </commandText>
    <parameters>
      <param name="@PARAMETERS" dbType="String" />
    </parameters>
  </dataCommand>
  
  
  <dataCommand name="WebAutoSalesMangeListSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         SELECT '['+csu.[User_Account]+']'+csu.User_DspName AS REVALUE_ALL,csu.User_Account as UserAccount,csu.User_DspName as UserDspName
      FROM [CMS].[dbo].[CMS_SYS_USERS] csu
      inner join dbo.CMS_SYS_USER_ELEMENT csue
      on csu.[User_Account] = csue.[User_Account] and csue.[Role_ID]=@RoleID
      where 
      ((@PARAMETERS IS NULL) OR (csu.[User_DspName] like '%' + @PARAMETERS + '%' ) OR (csu.[User_Account] like '%' + @PARAMETERS + '%' ))
      order by csu.[User_Account] asc
      ]]>
    </commandText>
    <parameters>
      <param name="@PARAMETERS" dbType="String" />
      <param name="@RoleID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="WebAutoUserMangeListSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         SELECT '['+csu.[User_Account]+']'+csu.User_DspName AS REVALUE_ALL
      FROM [CMS].[dbo].[CMS_SYS_USERS] csu
      where 
      ((@PARAMETERS IS NULL) OR (csu.[User_DspName] like '%' + @PARAMETERS + '%' ) OR (csu.[User_Account] like '%' + @PARAMETERS + '%' ))
      order by csu.[User_Account] asc
      ]]>
    </commandText>
    <parameters>
      <param name="@PARAMETERS" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertEventHistoryContent" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[WebSiteEvent_History]
           (
           [EVENT_ID]
           ,[EVENT_CONTENT]
           ,[CREATEDATE])
     VALUES
           ('SQL异常LOG'
           ,@EVENTCONTENT
           ,getdate())
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTCONTENT" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="OrderOperationMemoSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
      [USERID]
      ,[USERNAME]
      ,[IPADDRESS]
      ,[CREATEDATE]
      ,[EVENT_TYPE]
      ,[EVENT_ID]
      ,[EVENT_CONTENT]
      ,[EVENT_RESULT]
    FROM [CMS].[dbo].[WebSiteEvent_History] where ([EVENT_TYPE]='订单操作-保存' OR [EVENT_TYPE]='订单审核-保存') and [EVENT_ID]=@EVENTID order by CREATEDATE desc
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="OrderActionHis" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    SELECT [nid]
          ,[EVENT_TYPE]
          ,[EVENT_FG_ID]
          ,[ACTION_ID]
          ,CASE WHEN [OD_STATUS] = 'No-Show' AND ISNULL(ISDBAPPROVE, '0') = '1' THEN [OD_STATUS]+'(复)' ELSE [OD_STATUS] END AS [OD_STATUS]
          ,[REMARK]
          ,[CANNEL]
          ,[EVENT_USER]
          ,[EVENT_TIME]
          ,[OperateResult]
      FROM [CMS].[dbo].[LmOrderAction_History] where [EVENT_FG_ID]=@FGID order by [EVENT_TIME] desc
      ]]>
    </commandText>
    <parameters>
      <param name="@FGID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertOrderActionHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[LmOrderAction_History]
           ([EVENT_TYPE]
           ,[EVENT_FG_ID]
           ,[ACTION_ID]
           ,[OD_STATUS]
           ,[REMARK]
           ,[CANNEL]
           ,[EVENT_USER]
           ,[EVENT_TIME])
     VALUES
           (@EVENTTYPE
           ,@FGID
           ,@ACTIONID
           ,@ODSTATUS
           ,@REMARK
           ,@CANNEL
           ,@USERID
           ,getdate())
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@FGID" dbType="String" />
      <param name="@ACTIONID" dbType="String" />
      <param name="@ODSTATUS" dbType="String" />
      <param name="@REMARK" dbType="String" />
      <param name="@CANNEL" dbType="String" />
      <param name="@USERID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertOrderActionHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[LmOrderAction_History]
           ([EVENT_TYPE]
           ,[EVENT_FG_ID]
           ,[ACTION_ID]
           ,[OD_STATUS]
           ,[REMARK]
           ,[CANNEL]
           ,[EVENT_USER]
           ,[EVENT_TIME]
           ,[APPROVE_ID]
           ,[ROOM_ID]
           ,[ISDBAPPROVE])
     VALUES
           (@EVENTTYPE
           ,@FGID
           ,@ACTIONID
           ,@ODSTATUS
           ,@REMARK
           ,@CANNEL
           ,@USERID
           ,getdate()
           ,@APPROVEID
           ,@INROOMID
           ,@ISDBAPPROVE)
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@FGID" dbType="String" />
      <param name="@ACTIONID" dbType="String" />
      <param name="@ODSTATUS" dbType="String" />
      <param name="@REMARK" dbType="String" />
      <param name="@CANNEL" dbType="String" />
      <param name="@USERID" dbType="String" />
      <param name="@APPROVEID" dbType="String" />
      <param name="@INROOMID" dbType="String" />
      <param name="@ISDBAPPROVE" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertConsultRoomHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[ConsultRoom_History]
           ([CityID]
           ,[HotelID]
           ,[PlanDate]
           ,[PriceCode]
           ,[RoomCode]
           ,[TwoPrice]
           ,[RoomNum]
           ,[Status]
           ,[Remark]
           ,[IsReserve]
           ,[Create_User]
           ,[Create_Time])
     VALUES
           (@CityID
           ,@HotelID
           ,@PlanDate
           ,@PriceCode
           ,@RoomCode
           ,@TwoPrice
           ,@RoomNum
           ,@Status
           ,@Remark
           ,@IsReserve
           ,@Create_User
           ,getdate())
      ]]>
    </commandText>
    <parameters>
      <param name="@CityID" dbType="String" />
      <param name="@HotelID" dbType="String" />
      <param name="@PlanDate" dbType="String" />
      <param name="@PriceCode" dbType="String" />
      <param name="@RoomCode" dbType="String" />
      <param name="@TwoPrice" dbType="Double" />
      <param name="@RoomNum" dbType="Int32" />
      <param name="@Status" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@IsReserve" dbType="String" />
      <param name="@Create_User" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CheckApproveUser" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         SELECT '['+csu.[User_Account]+']'+csu.User_DspName AS REVALUE_ALL
      FROM [CMS].[dbo].[CMS_SYS_USERS] csu
      inner join dbo.CMS_SYS_USER_ELEMENT csue
      on csu.[User_Account] = csue.[User_Account] and csue.[Role_ID]=@RoleID
      where 
      csu.[User_Account] = @UserID
      order by csu.[User_Account] asc
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" />
      <param name="@RoleID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetOrderActionHisList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    SELECT lah.[nid]
      ,lah.[EVENT_TYPE]
      ,lah.[EVENT_FG_ID]
      ,lah.[ACTION_ID]
      ,lah.[OD_STATUS]
      ,lah.[REMARK]
      ,lah.[CANNEL]
      ,lah.[EVENT_USER]
      ,csu.User_DspName AS EVENTUSER
      ,convert(nvarchar, lah.[EVENT_TIME], 120) AS EVENTTIME
      ,lah.[APPROVE_ID]
      ,lah.[ROOM_ID]
      ,ISNULL(lah.[ISDBAPPROVE],'0') AS ISDBAPPROVE
      FROM (select * from [CMS].[dbo].[LmOrderAction_History] where [EVENT_FG_ID]=@FGID) lah
      left join [CMS].[dbo].[CMS_SYS_USERS] csu on csu.[User_Account] = lah.[EVENT_USER]
      order by lah.[EVENT_TIME] desc
      ]]>
    </commandText>
    <parameters>
      <param name="@FGID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertOrderActionHisList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    insert into LmOrderAction_History(EVENT_TYPE,EVENT_FG_ID,ACTION_ID,OD_STATUS,REMARK,CANNEL,EVENT_USER,EVENT_TIME,APPROVE_ID,ROOM_ID,OPERATERESULT,ISDBAPPROVE)
    values(@EVENTTYPE,@FOGORDERNUM,@ACTIONID,@STATUS,@REMARK,@CANNEL,@EVENTUSER,GETDATE(),@APPROVEID,@ROOMID,@OPERATERESULT,@ISDBAPPROVE)
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@FOGORDERNUM" dbType="String" />
      <param name="@ACTIONID" dbType="String" />
      <param name="@STATUS" dbType="String" />
      <param name="@REMARK" dbType="String" />
      <param name="@CANNEL" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@APPROVEID" dbType="String" />
      <param name="@ROOMID" dbType="String" />
      <param name="@OPERATERESULT" dbType="String" />
      <param name="@ISDBAPPROVE" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetUserTel" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         select * from dbo.CMS_SYS_USERS csu
        where ((@PARAMETERS IS NULL) OR (csu.[User_DspName] like '%' + @PARAMETERS + '%' ) OR (csu.[User_Account] like '%' + @PARAMETERS + '%' ))
      ]]>
    </commandText>
    <parameters>
      <param name="@PARAMETERS" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetApprovedOrderList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         select * from dbo.LmOrderAction_History
        where EVENT_TYPE=@EVENTTYPE
        and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
        and (ISDBAPPROVE <> '1' or ISDBAPPROVE is null)
        and EVENT_TIME between convert(varchar(10),  @StartDate, 120)+' 09:00:00' 
        and  convert(varchar(10),  @EndDate, 120)+' 21:00:00'
        and OD_STATUS<>'备注'
        order by EVENT_TIME desc
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetApprovedOrderListByCheck" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        select * from dbo.LmOrderAction_History
        where EVENT_TYPE=@EVENTTYPE
        and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
        and ISDBAPPROVE='1'
        and EVENT_TIME between convert(varchar(10),  @StartDate, 120)+' 09:00:00' 
        and  convert(varchar(10),  @EndDate, 120)+' 21:00:00' 
        and OD_STATUS<>'备注'
        order by EVENT_TIME desc
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetApprovedUserListByCheck" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        select distinct EVENT_USER from dbo.LmOrderAction_History
        where EVENT_TYPE=@EVENTTYPE
        and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
        and EVENT_TIME between convert(varchar(10),  @StartDate, 120)+' 09:00:00' 
        and  convert(varchar(10),  @EndDate, 120)+' 21:00:00'
        and OD_STATUS<>'备注' and EVENT_USER <> '' and EVENT_USER is not null 
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetOrderListNum" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select distinct EVENT_FG_ID from dbo.LmOrderAction_History
      where EVENT_TYPE=@EVENTTYPE
      and EVENT_TIME between convert(varchar(10),  @StartDate, 120)+' 04:00:00'
      and  convert(varchar(10),  @EndDate, 120)+' 03:59:59'
      and OD_STATUS<>'备注' and EVENT_FG_ID <> '' and EVENT_FG_ID is not null
    ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetFirstAppOrders" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select EVENT_FG_ID,OD_STATUS,EVENT_USER,MAX(EVENT_TIME) as EVENTTIME from dbo.LmOrderAction_History
      where EVENT_TYPE=@EVENTTYPE
      and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
      and EVENT_TIME between convert(varchar(10), @StartDate, 120)+' 04:00:00'
      and  convert(varchar(10), @EndDate, 120)+' 03:59:59'
      and (ISDBAPPROVE <> '1' or ISDBAPPROVE is null)
      and OD_STATUS<>'备注' and EVENT_USER <> '' and EVENT_USER is not null
        group by EVENT_FG_ID,OD_STATUS,EVENT_USER
    ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetFirstAppNSOrders" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    select EVENT_FG_ID,OD_STATUS,EVENT_USER,MAX(EVENT_TIME) as EVENTTIME from dbo.LmOrderAction_History
    where EVENT_TYPE=@EVENTTYPE
    and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
    and EVENT_TIME between convert(varchar(10),  @StartDate, 120)+' 04:00:00'
    and  convert(varchar(10), @EndDate, 120)+' 03:59:59'
    and (ISDBAPPROVE <> '1' or ISDBAPPROVE is null)
    and OD_STATUS<>'备注' and OD_STATUS='No-Show' and EVENT_USER <> '' and EVENT_USER is not null
      group by EVENT_FG_ID,OD_STATUS,EVENT_USER
    ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetCheckAppOrders" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select EVENT_FG_ID,OD_STATUS,EVENT_USER,MAX(EVENT_TIME) as EVENTTIME from dbo.LmOrderAction_History
      where EVENT_TYPE=@EVENTTYPE
      and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
      and EVENT_TIME between convert(varchar(10), @StartDate, 120)+' 04:00:00'
      and  convert(varchar(10), @EndDate, 120)+' 03:59:59'
      and ISDBAPPROVE = '1'
      and OD_STATUS<>'备注' and EVENT_USER <> '' and EVENT_USER is not null
        group by EVENT_FG_ID,OD_STATUS,EVENT_USER
    ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetCheckAppNSOrders" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    select EVENT_FG_ID,OD_STATUS,EVENT_USER,MAX(EVENT_TIME) as EVENTTIME from dbo.LmOrderAction_History
    where EVENT_TYPE=@EVENTTYPE
    and ((@EVENTUSER IS NULL) OR (EVENT_USER=@EVENTUSER))
    and EVENT_TIME between convert(varchar(10),  @StartDate, 120)+' 04:00:00'
    and  convert(varchar(10), @EndDate, 120)+' 03:59:59'
    and ISDBAPPROVE = '1'
    and OD_STATUS<>'备注' and OD_STATUS='离店' and EVENT_USER <> '' and EVENT_USER is not null
      group by EVENT_FG_ID,OD_STATUS,EVENT_USER
    ]]>
    </commandText>
    <parameters>
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTUSER" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetRoomNumber" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select * from dbo.LmOrderAction_History where EVENT_FG_ID=@FOGID and EVENT_TYPE='订单审核' and ROOM_ID is not null and OD_STATUS='离店' order by nid desc
    ]]>
    </commandText>
    <parameters>
      <param name="@FOGID" dbType="String" />
    </parameters>
  </dataCommand>
</dataOperations>
