<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetCashBackByOrderNoHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT [nid]
      ,[Hotel_ID]
      ,[Order_No]
      ,[User_ID]
      ,[Cash_SN]
      ,[Status]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
  FROM [CMS].[dbo].[CashBackByOrderNo_History]
  where [Order_No]=@OrderNo
      ]]>
    </commandText>
    <parameters>
      <param name="@OrderNo" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertCashBackHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[CashBackByOrderNo_History]
           ([Hotel_ID]
           ,[Order_No]
           ,[User_ID]
           ,[Cash_SN]
           ,[Status]
           ,[Create_User]
           ,[Create_Time]
           ,[Update_User]
           ,[Update_Time])
     VALUES
           (@HotelID
           ,@OrderNo
           ,@UserID
           ,@CashSN
           ,'1'
           ,@CreateUser
           ,getdate()
           ,@CreateUser
           ,getdate())
      ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@OrderNo" dbType="String" />
      <param name="@UserID" dbType="String" />
      <param name="@CashSN" dbType="String" />
      <param name="@CreateUser" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="GetCashBackHistoryByEventHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select * from dbo.WebSiteEvent_History where EVENT_ID=@EVENTID and  Event_Type = @EVENTTYPE
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTID" dbType="String" />
      <param name="@EVENTTYPE" dbType="String" />
    </parameters>
  </dataCommand>
</dataOperations>