<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetChannelList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
   DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @CountSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)

    IF LEN(@SortField)=0 
	    SET @SortField = N'CL.ChannelID' 
	IF LEN(@SortType)=0 
	    SET @SortType = N'DESC' 

    SET @WhereSql=N'1=1'
    IF LEN(@ChannelNo) > 0
    SET @WhereSql =N' AND CL.ChannelNo = @ChannelNo'
     IF LEN(@ChannelID) > 0
    SET @WhereSql =N' AND CL.ChannelID = @ChannelID'
     IF LEN(@ChannelNo) > 0
    SET @WhereSql =N' AND CL.Name_CN = @NameCN'
     IF @OnlineStatus >= 0
    SET @WhereSql =N' AND CL.OnlineStatus = @OnlineStatus'
    IF LEN(@StartDTime) > 0
    SET @WhereSql =N' AND CAST(' +@StartDTime +' AS DATE) <= CL.CreateDTime'
    IF LEN(@EndDTime) > 0
    SET @WhereSql =N' AND CL.CreateDTime <= CAST(' +@EndDTime +' AS DATE)
    
    SET @SelectSql=N'
    SELECT 
	   TT.RowId
	  ,TT.[ChannelNo]
      ,TT.[ChannelID]
      ,TT.[Name_CN]
      ,TT.[Name_EN]
      ,TT.[OnlineStatus]
      ,TT.[Remark]
      ,TT.[CreateUser]
      ,TT.[CreateDTime]
      ,TT.[UpdateUser]
      ,TT.[UpdateDTime]
    FROM(
    SELECT ROW_NUMBER() OVER(ORDER BY @SortField + @SortType) AS RowId
		  ,CL.[ChannelNo]
		  ,CL.[ChannelID]
		  ,CL.[Name_CN]
		  ,CL.[Name_EN]
		  ,CL.[OnlineStatus]
		  ,CL.[Remark]
		  ,CL.[CreateUser]
		  ,CL.[CreateDTime]
		  ,CL.[UpdateUser]
		  ,CL.[UpdateDTime]
		  FROM [CMS].[dbo].[Channel] CL
    '+@WhereSql+N'
    )TT 
    WHERE  TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

    SET @CountSql = N'SELECT @TotalCount=COUNT(ChannelNo) FROM [CMS].[dbo].[Channel] CL'+@WhereSql

    EXEC sp_executesql @SelectSql,
    N'@ChannelNo INT,
      @ChannelID VARCHAR(255),
      @NameCN NVARCHAR(1024),
      @OnlineStatus INT,
      @StartDTime NVARCHAR(100),
      @EndDTime NVARCHAR(100),
      @SortType NVARCHAR(100),
      @SortField NVARCHAR(100),
      @PageSize INT,
      @PageCurrent INT',
      @ChannelNo,
      @ChannelID,
      @NameCN,
      @OnlineStatus,
      @StartDTime,
      @EndDTime,
      @SortType,
      @SortField,
      @PageSize,
      @PageCurrent
  
    EXEC sp_executesql @CountSql,
    N'@ChannelNo INT,
      @ChannelID VARCHAR(255),
      @NameCN NVARCHAR(1024),
      @OnlineStatus INT,
      @StartDTime NVARCHAR(100),
      @EndDTime NVARCHAR(100),
      @TotalCount INT OUTPUT',
      @ChannelNo,
      @ChannelID,
      @NameCN,
      @OnlineStatus,
      @StartDTime,
      @EndDTime,
      @TotalCount OUTPUT
      ]]>
    </commandText>
    <parameters>
      <param name="@ChannelNo" dbType="Int32" />
      <param name="@ChannelID" dbType="String" />
      <param name="@NameCN" dbType="String" />
      <param name="@OnlineStatus" dbType="Int32" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>
  <dataCommand name="InsertChannelList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[Channel]
           ([ChannelID]
           ,[Name_CN]
           ,[Name_EN]
           ,[OnlineStatus]
           ,[Remark]
           ,[CreateUser]
           ,[CreateDTime]
           ,[UpdateUser]
           ,[UpdateDTime])
     VALUES
           (@ChannelID
           ,@NameCN
           ,@NameEN
           ,@OnlineStatus
           ,@Remark
           ,@CreateUser
           ,GETDATE()
           ,@UpdateUser
           ,GETDATE())
      ]]>
    </commandText>
    <parameters>
      <param name="@ChannelID" dbType="String" />
      <param name="@NameCN" dbType="String"/>
      <param name="@NameEN" dbType="String" />
      <param name="@OnlineStatus" dbType="Int32" />
      <param name="@Remark" dbType="String" />
      <param name="@CreateUser" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
    </parameters>
  </dataCommand>
  <dataCommand name="UpdateChannelList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [CMS].[dbo].[Channel]
      SET [ChannelID] = @ChannelID
      ,[Name_CN] = @NameCN
      ,[Name_EN] = @NameEN
      ,[OnlineStatus] = @OnlineStatus
      ,[Remark] = @Remark
      ,[UpdateUser] = @UpdateUser
      ,[UpdateDTime] = GETDATE()
      WHERE ChannelNo = @ChannelNo
      ]]>
    </commandText>
    <parameters>
      <param name="@ChannelNo" dbType="String" />
      <param name="@ChannelID" dbType="String" />
      <param name="@NameCN" dbType="String"/>
      <param name="@NameEN" dbType="String" />
      <param name="@OnlineStatus" dbType="Int32" />
      <param name="@Remark" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
    </parameters>
  </dataCommand>
</dataOperations>