<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetCommonUserList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [User_Account] AS USERID
      ,[User_DspName] AS USERNAME
  FROM [CMS].[dbo].[CMS_SYS_USERS] 
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetMailToList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [User_Account] 
      ,[User_Email]
      ,[User_Tel]
      ,[User_DspName]
  FROM [CMS].[dbo].[CMS_SYS_USERS] where User_Account=@UserID
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CheckIssueAsTo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [User_Account] 
      ,[User_Email]
  FROM [CMS].[dbo].[CMS_SYS_USERS] where User_Account=@UserID
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetIssueSettingHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     
      ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetIssueHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT im.[Title]
			  ,im.[Priority]
			  ,im.[Type]
        ,im.[Type] AS IssueType
        ,CASE when im.Type = '0' then '酒店问题' when im.[Type] = '1' then '订单状态问题' when im.[Type] = '2' then '订单支付问题' when im.[Type] = '3' then '订单返现问题' when im.[Type] = '4' then '优惠券问题' when im.[Type] = '5' then '发票问题' when im.[Type] = '6' then '用户问题' when im.[Type] = '7' then ' 提现问题' ELSE '' END AS IssueTypeNM
			  ,im.[Assignto]
			  ,im.[Status]
			  ,im.[IsIndemnify]
        ,CASE when im.IsIndemnify = '0' then '否' when im.IsIndemnify = '1' then '是' ELSE '' END AS IsIndemnifyNM
			  ,im.[IndemnifyPrice]
        ,im.[TicketCode]
        ,im.[TicketAmount]
        ,'' AS TicketPage
			  ,im.[RelatedType]
			  ,im.[RelatedID]
			  ,im.[Remark]
			  ,im.[Create_User]
			  ,im.[Create_Time] AS CreateTime
        ,CASE when im.Status = '0' then '新建' when im.Status = '1' then '处理中' when im.Status = '2' then '已完成' when im.Status = '3' then '已删除' ELSE '' END AS DISStatus
        ,CASE when im.[RelatedType] = '0' then '订单' when im.[RelatedType] = '1' then '酒店' when im.[RelatedType] = '2' then '发票' when im.[RelatedType] = '3' then '用户' when im.[RelatedType] = '4' then '提现' when im.[RelatedType] = '5' then '反馈' ELSE '' END AS RelatedTypeNM
        ,cyu.[User_DspName] AS CreateUser
        ,cyusi.[User_DspName] AS AssignUser
        ,'' AS ActionTime
        ,CASE when im.[ChkAssginMsg] = '1' then '是' ELSE '否' END AS ChkAssginMsg
        ,im.[AssginMsg]
        ,im.[AssginMsgRS]
        ,CASE when im.[ChkUserMsg] = '1' then '是' ELSE '否' END AS ChkUserMsg
        ,im.[UserMsg]
        ,im.[UserMsgRS]
			  FROM [CMS].[dbo].[IssueManager_History] im 
        left join [CMS].[dbo].[CMS_SYS_USERS] cyu on im.[Create_User] = cyu.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyusi on im.[Assignto] = cyusi.[User_Account]
  where im.[IssueID]=@IssueID
  order by im.[Create_Time] desc
      ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetUpdateIssueDetail" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT im.nid AS IssueID
			  ,im.[Title]
			  ,im.[Priority]
			  ,im.[Type]
        ,CASE when im.Type = '0' then '酒店问题' when im.[Type] = '1' then '订单状态问题' when im.[Type] = '2' then '订单支付问题' when im.[Type] = '3' then '订单返现问题' when im.[Type] = '4' then '优惠券问题' when im.[Type] = '5' then '发票问题' when im.[Type] = '6' then '用户问题' when im.[Type] = '7' then ' 提现问题' ELSE '' END AS TypeNM
			  ,im.[Assignto]
			  ,im.[Status]
			  ,im.[IsIndemnify]
        ,CASE when im.IsIndemnify = '0' then '否' when im.IsIndemnify = '1' then '是' ELSE '' END AS IsIndemnifyNM
			  ,im.[IndemnifyPrice]
        ,im.[TicketCode]
        ,im.[TicketAmount]
			  ,im.[RelatedType]
			  ,im.[RelatedID]
			  ,im.[Remark]
			  ,im.[Create_User]
			  ,im.[Create_Time]
			  ,im.[Update_User]
			  ,im.[Update_Time]
        ,im.[TimeDiffTal]
        ,CASE when im.Status = '0' then '新建' when im.Status = '1' then '处理中' when im.Status = '2' then '已完成' when im.Status = '3' then '已删除' ELSE '' END AS DISStatus
        ,CASE when im.[RelatedType] = '0' then '订单' when im.[RelatedType] = '1' then '酒店' when im.[RelatedType] = '2' then '发票' when im.[RelatedType] = '3' then '用户' when im.[RelatedType] = '4' then '提现' when im.[RelatedType] = '5' then '反馈' ELSE '' END AS RelatedTypeNM
        ,cyu.[User_DspName] AS CreateUser
        ,cyus.[User_DspName] AS UpdateUser
        ,'['+im.[Assignto] + ']'+ cyusi.[User_DspName] AS AssignUser,
        cyusi.[User_DspName] AS AssigntoNm
			  FROM [CMS].[dbo].[IssueManager] im 
        left join [CMS].[dbo].[CMS_SYS_USERS] cyu on im.[Create_User] = cyu.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyus on im.[Update_User] = cyus.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyusi on im.[Assignto] = cyusi.[User_Account]
  where im.[nid]=@IssueID
      ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertIssueManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [CMS].[dbo].[IssueManager]
           ([Title]
           ,[Priority]
           ,[Type]
           ,[Assignto]
           ,[Status]
           ,[IsIndemnify]
           ,[IndemnifyPrice]
           ,[TicketCode]
           ,[TicketAmount]
           ,[RelatedType]
           ,[RelatedID]
           ,[Remark]
           ,[Create_User]
           ,[Create_Time]
           ,[Update_User]
           ,[Update_Time])
     VALUES
           (@Title
           ,@Priority
           ,@IssueType
           ,@Assignto
           ,@IssueStatus
           ,@IsIndemnify
           ,@IndemnifyPrice
           ,@TicketCode
           ,@TicketAmount
           ,@RelatedType
           ,@RelatedID
           ,@Remark
           ,@CreateUser
           ,@CreateTime
           ,@CreateUser
           ,@CreateTime)
       SET @IssueID = SCOPE_IDENTITY()
       ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="Int32" direction="Output" />
      <param name="@Title" dbType="String" />
      <param name="@Priority" dbType="String" />
      <param name="@IssueType" dbType="String" />
      <param name="@Assignto" dbType="String" />
      <param name="@IssueStatus" dbType="String" />
      <param name="@IsIndemnify" dbType="String" />
      <param name="@IndemnifyPrice" dbType="String" />
      <param name="@TicketCode" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
      <param name="@RelatedType" dbType="String" />
      <param name="@RelatedID" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@CreateUser" dbType="String" />
      <param name="@CreateTime" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateIssueManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[IssueManager]
         SET [Title] = @Title
            ,[Priority] = @Priority
            ,[Type] = @IssueType
            ,[Assignto] = @Assignto
            ,[Status] = @IssueStatus
            ,[IsIndemnify] = @IsIndemnify
            ,[IndemnifyPrice] = @IndemnifyPrice
            ,[TicketCode] = @TicketCode
            ,[TicketAmount] = @TicketAmount
            ,[RelatedType] = @RelatedType
            ,[RelatedID] = @RelatedID
            ,[Remark] = @Remark
            ,[Update_User] = @UpdateUser
            ,[Update_Time] = @UpdateTime
            ,[TimeDiffTal] = @TimeDiffTal
            ,[TimeSpans] = @TimeSpans
       WHERE nid=@IssueID
       ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String"/>
      <param name="@Title" dbType="String" />
      <param name="@Priority" dbType="String" />
      <param name="@IssueType" dbType="String" />
      <param name="@Assignto" dbType="String" />
      <param name="@IssueStatus" dbType="String" />
      <param name="@IsIndemnify" dbType="String" />
      <param name="@IndemnifyPrice" dbType="String" />
      <param name="@TicketCode" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
      <param name="@RelatedType" dbType="String" />
      <param name="@RelatedID" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
      <param name="@UpdateTime" dbType="String" />
      <param name="@TimeDiffTal" dbType="String" />
      <param name="@TimeSpans" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertIssueHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [CMS].[dbo].[IssueManager_History]
           ([IssueID]
           ,[Title]
           ,[Priority]
           ,[Type]
           ,[Assignto]
           ,[Status]
           ,[IsIndemnify]
           ,[IndemnifyPrice]
           ,[TicketCode]
           ,[TicketAmount]
           ,[RelatedType]
           ,[RelatedID]
           ,[Remark]
           ,[Create_User]
           ,[Create_Time]
           ,[ChkAssginMsg]
           ,[AssginMsg]
           ,[AssginMsgRS]
           ,[ChkUserMsg]
           ,[UserMsg]
           ,[UserMsgRS])
     VALUES
           (@IssueID
           ,@Title
           ,@Priority
           ,@IssueType
           ,@Assignto
           ,@IssueStatus
           ,@IsIndemnify
           ,@IndemnifyPrice
           ,@TicketCode
           ,@TicketAmount
           ,@RelatedType
           ,@RelatedID
           ,@Remark
           ,@CreateUser
           ,@CreateTime
           ,@ChkMsgAssgin
           ,@MsgAssginText
           ,@MsgAssginRs
           ,@ChkMsgUser
           ,@MsgUserText
           ,@MsgUserRs)
       ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String"/>
      <param name="@Title" dbType="String" />
      <param name="@Priority" dbType="String" />
      <param name="@IssueType" dbType="String" />
      <param name="@Assignto" dbType="String" />
      <param name="@IssueStatus" dbType="String" />
      <param name="@IsIndemnify" dbType="String" />
      <param name="@IndemnifyPrice" dbType="String" />
      <param name="@TicketCode" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
      <param name="@RelatedType" dbType="String" />
      <param name="@RelatedID" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@CreateUser" dbType="String" />
      <param name="@CreateTime" dbType="String" />
      <param name="@ChkMsgAssgin" dbType="String" />
      <param name="@MsgAssginText" dbType="String" />
      <param name="@MsgAssginRs" dbType="String" />
      <param name="@ChkMsgUser" dbType="String" />
      <param name="@MsgUserText" dbType="String" />
      <param name="@MsgUserRs" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ReviewOverTimeOrderList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        SET @SelectSql=N'
            SELECT
            TT.RowId
			,TT.[nid] AS LGID
			,TT.[fog_order_num]
		  ,TT.[login_mobile]
		  ,TT.[contact_name]
		  ,TT.[hotel_id]
		  ,TT.[hotel_name]
		  ,TT.[linktel]
		  ,TT.[price_code]
		  ,TT.[create_time]
		  ,TT.[in_date]
		  ,TT.[book_status_other]
		  ,TT.[update_time]
		  ,TT.[timeD_diff]
            ,CASE when TT.book_status_other = ''1'' then ''预订成功等待确认'' when TT.book_status_other = ''3'' then ''用户取消'' when TT.book_status_other = ''4'' then ''可入住已确认'' when TT.book_status_other = ''9'' then ''CC取消'' ELSE '''' END AS book_status_other_nm
            ,TT.[cancel_reason]
            FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY create_time desc) AS RowId
			  ,[nid]
			  ,[fog_order_num]
			  ,[login_mobile]
			  ,[contact_name]
			  ,[hotel_id]
			  ,[hotel_name]
			  ,[linktel]
			  ,[price_code]
			  ,[create_time]
			  ,[in_date]
			  ,[book_status_other]
			  ,[update_time]
			  ,[timeD_diff]
        ,[cancel_reason]
			  FROM [CMS].[dbo].[OrderConfirmManager] 
            where 
            ((@HotelID IS NULL) OR (hotel_id=@HotelID)) AND ((@PriceCode IS NULL) OR (price_code=@PriceCode)) AND
            (
            (@StartDTime IS NULL) OR (CAST(@StartDTime AS datetime) <= [Create_Time])
            )
            AND 
            (
            (@EndDTime IS NULL) OR ([Create_Time] <= CAST(@EndDTime AS datetime))
            )) TT
            WHERE  TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

        SET @CountSql = N'SELECT @TotalCount=COUNT([nid])
			  FROM [CMS].[dbo].[OrderConfirmManager] 
            where 
            ((@HotelID IS NULL) OR (hotel_id=@HotelID)) AND ((@PriceCode IS NULL) OR (price_code=@PriceCode)) AND
            ((@StartDTime IS NULL) OR ( CAST(@StartDTime AS datetime) <= [Create_Time]))
            AND ((@EndDTime IS NULL) OR ([Create_Time] <= CAST(@EndDTime AS datetime)))'

        EXEC sp_executesql @SelectSql,
        N'@HotelID NVARCHAR(50),
          @PriceCode NVARCHAR(50),
          @StartDTime NVARCHAR(255),
          @EndDTime NVARCHAR(255),
          @PageSize INT,
          @PageCurrent INT',
          @HotelID,
          @PriceCode,
          @StartDTime,
          @EndDTime,
          @PageSize,
          @PageCurrent
  
        EXEC sp_executesql @CountSql,
        N'@HotelID NVARCHAR(50),
          @PriceCode NVARCHAR(50),
          @StartDTime NVARCHAR(255),
          @EndDTime NVARCHAR(255),
          @TotalCount INT OUTPUT',
          @HotelID,
          @PriceCode,
          @StartDTime,
          @EndDTime,
          @TotalCount OUTPUT
       ]]>
    </commandText>
    <parameters>
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@HotelID" dbType="String" />
      <param name="@PriceCode" dbType="String" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>

  <dataCommand name="ExportOverTimeOrderList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        SET @SelectSql=N'
            SELECT 
            TT.RowId
      ,TT.[fog_order_num]
      ,TT.[login_mobile]
      ,TT.[contact_name]
      ,TT.[hotel_id]
		  ,TT.[hotel_name]
      ,TT.[linktel]
      ,TT.[price_code]
      ,CASE when TT.book_status_other = ''1'' then ''预订成功等待确认'' when TT.book_status_other = ''3'' then ''用户取消'' when TT.book_status_other = ''4'' then ''可入住已确认'' when TT.book_status_other = ''9'' then ''CC取消'' ELSE '''' END AS book_status_other_nm
      ,TT.[in_date]
      ,TT.[create_time]
      ,TT.[update_time]
      ,TT.[timeD_diff]
      ,TT.[cancel_reason]
			,TT.[nid] AS LGID
		  ,TT.[book_status_other]
            FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY create_time desc) AS RowId
			  ,[nid]
			  ,[fog_order_num]
			  ,[login_mobile]
			  ,[contact_name]
			  ,[hotel_id]
			  ,[hotel_name]
			  ,[linktel]
			  ,[price_code]
			  ,[create_time]
			  ,[in_date]
			  ,[book_status_other]
			  ,[update_time]
			  ,[timeD_diff]
        ,[cancel_reason]
			  FROM [CMS].[dbo].[OrderConfirmManager] 
            where 
            ((@HotelID IS NULL) OR (hotel_id=@HotelID)) AND ((@PriceCode IS NULL) OR (price_code=@PriceCode)) AND
            (
            (@StartDTime IS NULL) OR (CAST(@StartDTime AS datetime) <= [Create_Time])
            )
            AND 
            (
            (@EndDTime IS NULL) OR ([Create_Time] <= CAST(@EndDTime AS datetime))
            )) TT'  

        EXEC sp_executesql @SelectSql,
        N'@HotelID NVARCHAR(50),
          @PriceCode NVARCHAR(50),
          @StartDTime NVARCHAR(255),
          @EndDTime NVARCHAR(255)',
          @HotelID,
          @PriceCode,
          @StartDTime,
          @EndDTime
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@PriceCode" dbType="String" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetBindIssueList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        SET @SelectSql=N'
        SELECT
          TT.RowId
          ,TT.IssueID
          ,TT.[Title]
          ,TT.[Priority]
          ,TT.[Type] AS IssueType
          ,'''' AS IssueTypeNM
          ,TT.[Assignto]
          ,TT.[Status] 
          ,CASE when TT.Status = ''0'' then ''新建'' when TT.Status = ''1'' then ''处理中'' when TT.Status = ''2'' then ''已完成'' when TT.Status = ''3'' then ''已删除'' ELSE '''' END AS DISStatus
          ,TT.[IsIndemnify]
          ,TT.[IndemnifyPrice]
          ,TT.[RelatedType]
          ,CASE when TT.[RelatedType] = ''0'' then ''订单'' when TT.[RelatedType] = ''1'' then ''酒店'' when TT.[RelatedType] = ''2'' then ''发票'' when TT.[RelatedType] = ''3'' then ''用户'' when TT.[RelatedType] = ''4'' then ''提现'' when TT.[RelatedType] = ''5'' then ''反馈'' ELSE '''' END AS RelatedTypeNM
          ,TT.[RelatedID]
          ,TT.[Remark]
          ,TT.CreateUser
          ,TT.[Create_Time] AS CreateTime
          ,TT.UpdateUser
          ,TT.[Update_Time] AS UpdateTime
          ,TT.AssignUser
          ,TT.ActionTimes
            FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY im.Create_Time desc) AS RowId
			  ,im.nid AS IssueID
			  ,im.[Title]
			  ,im.[Priority]
			  ,im.[Type]
			  ,im.[Assignto]
			  ,im.[Status]
			  ,im.[IsIndemnify]
			  ,im.[IndemnifyPrice]
			  ,im.[RelatedType]
			  ,im.[RelatedID]
			  ,im.[Remark]
			  ,im.[Create_User]
			  ,im.[Create_Time]
			  ,im.[Update_User]
			  ,im.[Update_Time]
        ,im.[TimeDiffTal] AS ActionTimes
        ,cyu.[User_DspName] AS CreateUser
        ,cyus.[User_DspName] AS UpdateUser
        ,cyusi.[User_DspName] AS AssignUser
			  FROM [CMS].[dbo].[IssueManager] im 
        left join [CMS].[dbo].[CMS_SYS_USERS] cyu on im.[Create_User] = cyu.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyus on im.[Update_User] = cyus.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyusi on im.[Assignto] = cyusi.[User_Account]
        where 
        ((@Title IS NULL) OR (im.[Title] like @Title))
        AND
        ((@IssueStatus IS NULL) OR (im.[Status]= @IssueStatus))
        AND
        ((@IssueType IS NULL) OR (im.[Type] like @IssueType))
        AND
        ((@Assignto IS NULL) OR (im.[Assignto]= @Assignto))
        AND
		    ((@RelatedType IS NULL) OR (im.[RelatedType]= @RelatedType))
        AND
        ((@RelatedID IS NULL) OR (im.[RelatedID]= @RelatedID))
        AND
			  ((@TimeSpans IS NULL) OR ([TimeSpans] <= @TimeSpans))
        AND
        (
        (@StartDTime IS NULL) OR (CAST(@StartDTime AS datetime) <= im.[Create_Time])
        )
        AND 
        (
        (@EndDTime IS NULL) OR (im.[Create_Time] <= CAST(@EndDTime AS datetime))
        )) TT
        WHERE  TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

        SET @CountSql = N'SELECT @TotalCount=COUNT([nid])
			  FROM [CMS].[dbo].[IssueManager] 
            where 
            ((@Title IS NULL) OR ([Title] like @Title))
			AND
			((@IssueStatus IS NULL) OR ([Status]= @IssueStatus))
			AND
			((@IssueType IS NULL) OR ([Type] like @IssueType))
			AND
			((@Assignto IS NULL) OR ([Assignto]= @Assignto))
			AND
			((@RelatedType IS NULL) OR ([RelatedType]= @RelatedType))
			AND
			((@RelatedID IS NULL) OR ([RelatedID]= @RelatedID))
      AND
			((@TimeSpans IS NULL) OR ([TimeSpans] <= @TimeSpans))
			AND
      ((@StartDTime IS NULL) OR ( CAST(@StartDTime AS datetime) <= [Create_Time]))
      AND ((@EndDTime IS NULL) OR ([Create_Time] <= CAST(@EndDTime AS datetime)))'
      EXEC sp_executesql @SelectSql,
        N'@Title NVARCHAR(255),
          @IssueStatus NVARCHAR(10),
          @IssueType NVARCHAR(10),
          @Assignto NVARCHAR(100),
          @RelatedType NVARCHAR(10),
          @RelatedID NVARCHAR(100),
          @TimeSpans decimal(30, 0),
          @StartDTime NVARCHAR(255),
          @EndDTime NVARCHAR(255),
          @PageSize INT,
          @PageCurrent INT',
          @Title,
          @IssueStatus,
          @IssueType,
          @Assignto,
          @RelatedType,
          @RelatedID,
          @TimeSpans,
          @StartDTime,
          @EndDTime,
          @PageSize,
          @PageCurrent
        EXEC sp_executesql @CountSql,
        N'@Title NVARCHAR(255),
          @IssueStatus NVARCHAR(10),
          @IssueType NVARCHAR(10),
          @Assignto NVARCHAR(100),
          @RelatedType NVARCHAR(10),
          @RelatedID NVARCHAR(100),
          @TimeSpans decimal(30, 0),
          @StartDTime NVARCHAR(255),
          @EndDTime NVARCHAR(255),
          @TotalCount INT OUTPUT',
          @Title,
          @IssueStatus,
          @IssueType,
          @Assignto,
          @RelatedType,
          @RelatedID,
          @TimeSpans,
          @StartDTime,
          @EndDTime,
          @TotalCount OUTPUT
       ]]>
    </commandText>
    <parameters>
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
      <param name="@Title" dbType="String" />
      <param name="@IssueStatus" dbType="String" />
      <param name="@IssueType" dbType="String" />
      <param name="@Assignto" dbType="String" />
      <param name="@RelatedType" dbType="String" />
      <param name="@RelatedID" dbType="String" />
      <param name="@TimeSpans" dbType="Decimal" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>

</dataOperations>