<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetHotelIgnore" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT
        [TYPE]
        FROM [dbo].[APPContent_Ignore] WHERE [STATUS]='1' AND [IGNORETYPE]='0' AND [HOTELID]=@HotelID
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetHotelCompare" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT
        [TYPE]
        FROM [dbo].[APPContent_Ignore] WHERE [STATUS]='1' AND [IGNORETYPE]='1' AND [HOTELID]=@HotelID
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetHotelPopIgnore" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT AI.HOTELID
            ,'' AS HOTELNM
            ,AI.[TYPE] AS TYPEID
            ,WS.Value AS IGTYPE
            ,AI.[STATUS]
            ,AI.[USERID] AS CREATEPR
            ,AI.CREATETIME AS CREATETM
            ,'删除' as MODIFY
        FROM [CMS].[dbo].[APPContent_Ignore] AS AI
        left join dbo.WebSite_SysConfiguration AS WS on AI.[TYPE]=WS.[Key] and WS.[type] ='appignore'
        where AI.status='1'AND AI.IGNORETYPE='0' order by AI.CREATETIME desc 
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetHotelPopCompare" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT AI.HOTELID
            ,'' AS HOTELNM
            ,AI.[TYPE] AS TYPEID
            ,WS.Value AS IGTYPE
            ,AI.[STATUS]
            ,AI.[USERID] AS CREATEPR
            ,AI.CREATETIME AS CREATETM
            ,'删除' as MODIFY
        FROM [CMS].[dbo].[APPContent_Ignore] AS AI
        left join dbo.WebSite_SysConfiguration AS WS on AI.[TYPE]=WS.[Key] and WS.[type] ='hotelcheck'
        where AI.status='1'AND AI.IGNORETYPE='1' order by AI.CREATETIME desc 
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetHotelIgnoreList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT DISTINCT [HOTELID]
        FROM [CMS].[dbo].[APPContent_Ignore] 
        where status='1' AND [IGNORETYPE]='0'
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetHotelCompareList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT DISTINCT [HOTELID]
        FROM [CMS].[dbo].[APPContent_Ignore] 
        where status='1' AND [IGNORETYPE]='1'
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="CheckInsertHotelIgnore" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [HOTELID]
          ,[TYPE]
          ,[STATUS]
      FROM [CMS].[dbo].[APPContent_Ignore]
      where [HOTELID]=@HotelID
      and [TYPE]=@TypeID
      and [STATUS]='1'
      AND [IGNORETYPE]='0'
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@TypeID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertHotelIgnoreGrid" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        IF EXISTS (SELECT [HOTELID] FROM [CMS].[dbo].[APPContent_Ignore] where [HOTELID]=@HotelID and [TYPE]=@TypeID AND [IGNORETYPE]='0')
        BEGIN
          UPDATE [CMS].[dbo].[APPContent_Ignore]
           SET [STATUS] = '1'
              ,[USERID] = @UserID
              ,[CREATETIME] = getdate()
         WHERE [HOTELID]=@HotelID and [TYPE]=@TypeID AND [IGNORETYPE]='0'
        END
        ELSE
        BEGIN
          INSERT INTO [CMS].[dbo].[APPContent_Ignore]
                 ([HOTELID]
                 ,[TYPE]
                 ,[STATUS]
                 ,[IGNORETYPE]
                 ,[USERID]
                 ,[CREATETIME])
           VALUES
                 (@HotelID
                 ,@TypeID
                 ,'1'
                 ,'0'
                 ,@UserID
                 ,getdate())
        END
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@TypeID" dbType="String" />
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertHotelCompareGrid" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        IF EXISTS (SELECT [HOTELID] FROM [CMS].[dbo].[APPContent_Ignore] where [HOTELID]=@HotelID and [TYPE]=@TypeID AND [IGNORETYPE]='1')
        BEGIN
          UPDATE [CMS].[dbo].[APPContent_Ignore]
           SET [STATUS] = '1'
              ,[USERID] = @UserID
              ,[CREATETIME] = getdate()
         WHERE [HOTELID]=@HotelID and [TYPE]=@TypeID AND [IGNORETYPE]='1'
        END
        ELSE
        BEGIN
          INSERT INTO [CMS].[dbo].[APPContent_Ignore]
                 ([HOTELID]
                 ,[TYPE]
                 ,[STATUS]
                 ,[IGNORETYPE]
                 ,[USERID]
                 ,[CREATETIME])
           VALUES
                 (@HotelID
                 ,@TypeID
                 ,'1'
                 ,'1'
                 ,@UserID
                 ,getdate())
        END
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@TypeID" dbType="String" />
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="DeleteHotelIgnoreGrid" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[APPContent_Ignore]
           SET [STATUS] = '0'
              ,[USERID] = @UserID
              ,[CREATETIME] = getdate()
         WHERE [HOTELID]=@HotelID and [TYPE]=@TypeID AND [IGNORETYPE]='0'
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@TypeID" dbType="String" />
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="DeleteHotelCompareGrid" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[APPContent_Ignore]
           SET [STATUS] = '0'
              ,[USERID] = @UserID
              ,[CREATETIME] = getdate()
         WHERE [HOTELID]=@HotelID and [TYPE]=@TypeID AND [IGNORETYPE]='1'
       ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
      <param name="@TypeID" dbType="String" />
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>
</dataOperations>