<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetCruiseDataInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT [CruiseID]
      ,[ShipNM]
      ,[Destination]
      ,[Days]
      ,[Port]
      ,[CUser]
      ,[CDTime]
      ,[UUser]
      ,[UDTime]
      FROM [CMS].[dbo].[Route]
      where CruiseID=@CruiseID
      ]]>
    </commandText>
    <parameters>
      <param name="@CruiseID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CCruiseDataInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[Route]
      ([ShipNM]
      ,[Destination]
      ,[Days]
      ,[Port]
      ,[CUser]
      ,[CDTime]
      ,[UUser]
      ,[UDTime])
      VALUES
      (@ShipNM
      ,@Destination
      ,@Days
      ,@Port
      ,@CUser
      ,getdate()
      ,@CUser
      ,getdate())
      ]]>
    </commandText>
    <parameters>
      <param name="@ShipNM" dbType="String" />
      <param name="@Destination" dbType="String" />
      <param name="@Days" dbType="String" />
      <param name="@Port" dbType="String" />
      <param name="@CUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UCruiseDataInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [CMS].[dbo].[Route]
       SET [ShipNM] = @ShipNM
          ,[Destination] = @Destination
          ,[Days] = @Days
          ,[Port] = @Port
          ,[UUser] = @UUser
          ,[UDTime] = getdate()
     WHERE CruiseID=@CruiseID
      ]]>
    </commandText>
    <parameters>
      <param name="@CruiseID" dbType="String" />
      <param name="@ShipNM" dbType="String" />
      <param name="@Destination" dbType="String" />
      <param name="@Days" dbType="String" />
      <param name="@Port" dbType="String" />
      <param name="@UUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetCruiseDataPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT rp.[PlanID]
      ,convert(nvarchar,rp.[PlanDTime],112) AS PlanDTime
      ,rp.[RouteID]
      ,rp.[PlanNumer]
      FROM [CMS].[dbo].[RoutePlan] rp
      left join [CMS].[dbo].[Route] rt on rp.RouteID=rt.CruiseID
      where rt.CruiseID = @CruiseID
      and ((@SDtime is null) OR (@SDtime <= rp.[PlanDTime]))
      AND ((@EDtime is null) OR (@EDtime >= rp.[PlanDTime]))
      ]]>
    </commandText>
    <parameters>
      <param name="@CruiseID" dbType="String" />
      <param name="@SDtime" dbType="String" />
      <param name="@EDtime" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ReviewRoutePlanHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
            ,[USERID]
            ,[USERNAME]
            ,[IPADDRESS]
            ,[CREATEDATE]
            ,[EVENT_TYPE]
            ,[EVENT_ID]
            ,[EVENT_CONTENT]
            ,[EVENT_RESULT]
        FROM [CMS].[dbo].[WebSiteEvent_History]
        where EVENT_ID= @PlanID AND [EVENT_TYPE] ='游轮库存-保存'
        order by CREATEDATE desc
       ]]>
    </commandText>
    <parameters>
      <param name="@PlanID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CCruisePlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [CMS].[dbo].[RoutePlan]
        ([PlanDTime]
        ,[RouteID]
        ,[PlanNumer]
        ,[CUser]
        ,[CDTime]
        ,[UUser]
        ,[UDTime])
        VALUES
        (@PlanDTime
        ,@RouteID
        ,@PlanNumer
        ,@CUser
        ,getdate()
        ,@CUser
        ,getdate())
        SET @PlanID = SCOPE_IDENTITY()
       ]]>
    </commandText>
    <parameters>
      <param name="@PlanID" dbType="Int32" direction="Output" />
      <param name="@PlanDTime" dbType="String" />
      <param name="@RouteID" dbType="String" />
      <param name="@PlanNumer" dbType="String" />
      <param name="@CUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UCruisePlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[RoutePlan]
         SET 
            [PlanNumer] = @PlanNumer
            ,[UUser] = @UUser
            ,[UDTime] = getdate()
       WHERE PlanID=@PlanID

       ]]>
    </commandText>
    <parameters>
      <param name="@PlanID" dbType="String"/>
      <param name="@PlanNumer" dbType="String" />
      <param name="@UUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetCruiseShipPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [ShipID] AS VALUE
      ,[ShipNM] AS TEXT
      FROM [CMS].[dbo].[Ship]
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetCruiseBoadPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT  [BoatID] AS VALUE
      ,[BoatNM]  AS TEXT
      ,[ShipID]
  FROM [CMS].[dbo].[Boats] where ShipID=@ShipID
       ]]>
    </commandText>
    <parameters>
      <param name="@ShipID" dbType="String"/>
    </parameters>
  </dataCommand>


  <dataCommand name="GetCruiseBoatRoomPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [ShipRoomID]
      ,[BoatID]
      ,[ShipRoomNM]
      ,[CUser]
      ,[CDTime]
  FROM [CMS].[dbo].[ShipRoom]
  where BoatID=@BoatID order by ShipRoomID asc
       ]]>
    </commandText>
    <parameters>
      <param name="@BoatID" dbType="String"/>
    </parameters>
  </dataCommand>

  <dataCommand name="GetCruiseRoomPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       SELECT [ShipPlanID]
      ,[PlanDT]
      ,Convert(nvarchar, [PlanDT], 112) AS PlanDTime
      ,[ShipRoomID]
      ,[BoatID]
      ,[PlanNum]
      ,[CUser]
      ,[CDTime]
      ,[UUser]
      ,[UDTime]
    FROM [CMS].[dbo].[ShipPlan]
    where BoatID=@BoatID
       ]]>
    </commandText>
    <parameters>
      <param name="@BoatID" dbType="String"/>
    </parameters>
  </dataCommand>


  <dataCommand name="CShipPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    INSERT INTO [CMS].[dbo].[ShipPlan]
           ([PlanDT]
           ,[ShipRoomID]
           ,[BoatID]
           ,[PlanNum]
           ,[CUser]
           ,[CDTime]
           ,[UUser]
           ,[UDTime])
     VALUES
           (@PlanDT
           ,1
           ,@BoatID
           ,@PlanNum
           ,@CUser
           ,getdate()
           ,@CUser
           ,getdate())
        SET @PlanID = SCOPE_IDENTITY()
       ]]>
    </commandText>
    <parameters>
      <param name="@PlanID" dbType="Int32" direction="Output" />
      <param name="@PlanDT" dbType="String" />
      <param name="@BoatID" dbType="String" />
      <param name="@PlanNum" dbType="String" />
      <param name="@CUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetShipPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    SELECT [ShipPlanID]
  ,[PlanDT]
  ,[ShipRoomID]
  ,[BoatID]
  ,[PlanNum]
  ,[CUser]
  ,[CDTime]
  ,[UUser]
  ,[UDTime]
  FROM [CMS].[dbo].[ShipPlan]
  where ShipPlanID = @ShipPlanID
       ]]>
    </commandText>
    <parameters>
      <param name="@ShipPlanID" dbType="String" />
    </parameters>
  </dataCommand>



  <dataCommand name="UShipPlanInfo" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [CMS].[dbo].[ShipPlan]
      SET
      [PlanNum] = @PlanNum
      ,[UUser] = @UUser
      ,[UDTime] = getdate()
      WHERE ShipPlanID=@ShipPlanID
       ]]>
    </commandText>
    <parameters>
      <param name="@PlanNum" dbType="String" />
      <param name="@UUser" dbType="String" />
      <param name="@ShipPlanID" dbType="String" />
    </parameters>
  </dataCommand>


</dataOperations>