<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetPartnerLinkList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       SELECT PH.[nid] AS ID
      ,PH.[PartnerID] AS PARTNERID
      ,PH.[PartnerLink] AS PARTNERLINK
      ,ISNULL(PH.Hits,0) AS PARTNERCT
      ,PH.[PartnerTitle] AS PARTNERTITLE
      ,PH.[Cost] AS PCOST
       ,CASE ISNULL(PH.Hits,0)
         WHEN 0 THEN 0
      ELSE cast(round(convert(decimal,ISNULL(PH.[Cost],0))/convert(decimal,ISNULL(PH.Hits,0),0),2) as numeric(30,2)) END AS AVGPT
      ,PH.[UserID]
      ,PH.[CREATETIME] AS CDTIME
      ,PH.[ReMark] AS REMARK
      ,@WapLink+PH.[PartnerID]  AS WAPLINK
      FROM [CMS].[dbo].[PartnerLinkManager] PH
      where (@PartnerID IS NULL OR PH.[PartnerID] like @PartnerID)
      AND (@StartDTime IS NULL OR @StartDTime <= PH.CREATETIME)
      AND (@EndDTime IS NULL OR PH.CREATETIME <= @EndDTime)
      order by PH.CREATETIME DESC
       ]]>
    </commandText>
    <parameters>
      <param name="@PartnerID" dbType="String" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
      <param name="@WapLink" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetPartnerLinkChartList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT al.[DATETIME]
      FROM [dbo].[APKDownLoad_log] al
      INNER JOIN dbo.PartnerLinkManager ph ON al.[CHANNEL]=ph.[PartnerID]
      WHERE ph.[nid]=@SysID
      AND (@StartDTime IS NULL OR @StartDTime <= al.DATETIME)
      AND (@EndDTime IS NULL OR al.DATETIME <= @EndDTime)
      ORDER BY al.[DATETIME] ASC
       ]]>
    </commandText>
    <parameters>
      <param name="@SysID" dbType="String" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ChkInsertPartnerLink" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
      ,[PartnerID]
      ,[PartnerLink]
      ,[UserID]
      ,[CREATETIME]
      FROM [CMS].[dbo].[PartnerLinkManager]
      where (PartnerID = @PartnerID ) AND (@PartnerLink = @PartnerLink)
       ]]>
    </commandText>
    <parameters>
      <param name="@PartnerID" dbType="String" />
      <param name="@PartnerLink" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ChkUpdatePartnerLink" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
      ,[PartnerID]
      ,[PartnerLink]
      ,[UserID]
      ,[CREATETIME]
      FROM [CMS].[dbo].[PartnerLinkManager]
      where ((PartnerID = @PartnerID ) AND (PartnerLink = @PartnerLink)) AND (nid <> @SysID)
       ]]>
    </commandText>
    <parameters>
      <param name="@SysID" dbType="String" />
      <param name="@PartnerID" dbType="String" />
      <param name="@PartnerLink" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertPartnerLink" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [CMS].[dbo].[PartnerLinkManager]
           ([PartnerID]
           ,[PartnerLink]
           ,[PartnerTitle]
           ,[Cost]
           ,[UserID]
           ,[Hits]
           ,[ReMark]
           ,[CREATETIME]
           ,[UPDATETIME])
     VALUES
           (@PartnerID
           ,@PartnerLink
           ,@PartnerTitle
           ,@Cost
           ,@UserID
           ,0
           ,@Remark
           ,getdate()
           ,getdate())
       ]]>
    </commandText>
    <parameters>
      <param name="@PartnerID" dbType="String" />
      <param name="@PartnerLink" dbType="String" />
      <param name="@PartnerTitle" dbType="String" />
      <param name="@Cost" dbType="String" />
      <param name="@UserID" dbType="String" />
      <param name="@Remark" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdatePartnerLink" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[PartnerLinkManager]
         SET [PartnerID] = @PartnerID
            ,[PartnerLink] = @PartnerLink
            ,[UserID] = @UserID
            ,[ReMark] = @Remark
            ,[UPDATETIME] = getdate()
            ,[PartnerTitle] = @PartnerTitle
            ,[Cost] = @Cost
        WHERE nid=@SysID
       ]]>
    </commandText>
    <parameters>
      <param name="@SysID" dbType="String" />
      <param name="@PartnerID" dbType="String" />
      <param name="@PartnerLink" dbType="String" />
      <param name="@UserID" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@PartnerTitle" dbType="String" />
      <param name="@Cost" dbType="String" />
    </parameters>
  </dataCommand>
  
</dataOperations>