<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="InsertPushPlanManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[PushPlanManager]
           ([Type]
           ,[Push_Title]
           ,[Push_Content]
           ,[Push_ProtoType]
           ,[Push_Users]
           ,[Status]
           ,[All_Count]
           ,[Suc_Count]
           ,[Create_User]
           ,[Create_Time])
     VALUES
           (@PushTYpe
           ,@PushTitle
           ,@PushContent
           ,@PushProtoType
           ,@PushUsers
           ,@Status
           ,@All_Count
           ,0
           ,@CreateUser
           ,getdate())
      SET @TaskID = SCOPE_IDENTITY()
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="Int32" direction="Output" />
      <param name="@PushTYpe" dbType="String" />
      <param name="@PushTitle" dbType="String" />
      <param name="@PushContent" dbType="String" />
      <param name="@PushProtoType" dbType="String" />
      <param name="@PushUsers" dbType="String" />
      <param name="@Status" dbType="String" />
      <param name="@All_Count" dbType="String" />
      <param name="@CreateUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertPushInfoPlanManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[PushInfoPlanManager]
           ([Type]
           ,[PushType]
           ,[Push_Title]
           ,[Push_Content]
           ,[Push_ProtoType]
           ,[Wap_Url]
           ,[Push_Users]
           ,[Status]
           ,[All_Count]
           ,[Suc_Count]
           ,[Create_User]
           ,[Create_Time]
           ,[PackageCode]
           ,[PackageAmount])
     VALUES
           (@PushTYpe
           ,@PushACTYpe
           ,@PushTitle
           ,@PushContent
           ,@PushProtoType
           ,@WapUrl
           ,@PushUsers
           ,@Status
           ,@All_Count
           ,0
           ,@CreateUser
           ,getdate()
           ,@TicketPackage
           ,@TicketAmount)
      SET @TaskID = SCOPE_IDENTITY()
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="Int32" direction="Output" />
      <param name="@PushTYpe" dbType="String" />
      <param name="@PushACTYpe" dbType="String" />
      <param name="@PushTitle" dbType="String" />
      <param name="@PushContent" dbType="String" />
      <param name="@PushProtoType" dbType="String" />
      <param name="@WapUrl" dbType="String" />
      <param name="@PushUsers" dbType="String" />
      <param name="@Status" dbType="String" />
      <param name="@All_Count" dbType="String" />
      <param name="@CreateUser" dbType="String" />
      <param name="@TicketPackage" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CheckUpdatePushPlanManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
      ,[Type]
      ,[Push_Title]
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count]
      ,[Suc_Count]
      ,[Action_Time]
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      FROM [CMS].[dbo].[PushPlanManager]
      where nid=@TaskID AND [Status]='0'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="CheckUpdatePushInfoPlanManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
      ,[Type]
      ,[PushType]
      ,[Push_Title]
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count]
      ,[Suc_Count]
      ,[Action_Time]
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      FROM [CMS].[dbo].[PushInfoPlanManager]
      where nid=@TaskID AND [Status]='0'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdatePushPlanManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[PushPlanManager] SET
        [Type] = @PushTYpe
        ,[Push_Title] = @PushTitle
        ,[Push_Content] = @PushContent
        ,[Push_ProtoType] = @PushProtoType
        ,[Push_Users] = @PushUsers
        ,[All_Count] = @All_Count
        ,[Update_User] = @UpdateUser
        ,[Update_Time] = getdate()
        where nid= @TaskID AND [Status]='0'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@PushTYpe" dbType="String" />
      <param name="@PushTitle" dbType="String" />
      <param name="@PushContent" dbType="String" />
      <param name="@PushProtoType" dbType="String" />
      <param name="@PushUsers" dbType="String" />
      <param name="@All_Count" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdatePushInfoPlanManager" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[PushInfoPlanManager] SET
        [Type] = @PushTYpe
        ,[PushType] = @PushACTYpe
        ,[Push_Title] = @PushTitle
        ,[Push_Content] = @PushContent
        ,[Push_ProtoType] = @PushProtoType
        ,[Wap_Url] = @WapUrl
        ,[Push_Users] = @PushUsers
        ,[All_Count] = @All_Count
        ,[Update_User] = @UpdateUser
        ,[Update_Time] = getdate()
        ,[PackageCode] = @TicketPackage
        ,[PackageAmount] = @TicketAmount
        where nid= @TaskID AND [Status]='0'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@PushTYpe" dbType="String" />
      <param name="@PushACTYpe" dbType="String" />
      <param name="@PushTitle" dbType="String" />
      <param name="@PushContent" dbType="String" />
      <param name="@PushProtoType" dbType="String" />
      <param name="@WapUrl" dbType="String" />
      <param name="@PushUsers" dbType="String" />
      <param name="@All_Count" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
      <param name="@TicketPackage" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateSendPushStatus" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[PushPlanManager] SET
        [Status] = @Status
        ,[Update_User] = @UpdateUser
        ,[Update_Time] = getdate()
        ,[Action_Time] = getdate()
        where nid= @TaskID AND [Status]='0'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@Status" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateSendPushInfoStatus" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[PushInfoPlanManager] SET
        [Status] = @Status
        ,[Update_User] = @UpdateUser
        ,[Update_Time] = getdate()
        ,[Action_Time] = getdate()
        where nid= @TaskID AND [Status]='0'
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@Status" dbType="String" />
      <param name="@UpdateUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectPushSuccCount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
      ,[Type]
      ,[Push_Title]
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count]
      ,[Suc_Count]
      ,[Action_Time]
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      FROM [CMS].[dbo].[PushPlanManager]
      where nid=@TaskID
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectPushInfoSuccCount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [nid]
      ,[Type]
      ,[PushType]
      ,[Push_Title]
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Wap_Url]
      ,[Push_Users]
      ,[Status]
      ,[All_Count]
      ,[Suc_Count]
      ,[Action_Time]
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      ,[PackageCode]
      ,[PackageAmount]
      FROM [CMS].[dbo].[PushInfoPlanManager]
      where nid=@TaskID
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectActionDateTime" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select tt.FACTIONDT,dt.LACTIONDT from 
      (SELECT TOP 1 [PPID],[Action_Time] AS FACTIONDT
      FROM [CMS].[dbo].[PushPlanAction_History]
      where [PPID]=@TaskID
      order by [Action_Time] asc) tt
      left join (
      SELECT TOP 1 [PPID],[Action_Time] LACTIONDT
      FROM [CMS].[dbo].[PushPlanAction_History]
      where [PPID]=@TaskID
      order by [Action_Time] desc) dt
      on tt.[PPID]=dt.[PPID]
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectInfoActionDateTime" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select tt.FACTIONDT,dt.LACTIONDT from 
      (SELECT TOP 1 [PPID],[Action_Time] AS FACTIONDT
      FROM [CMS].[dbo].[PushInfoPlanAction_History]
      where [PPID]=@TaskID
      order by [Action_Time] asc) tt
      left join (
      SELECT TOP 1 [PPID],[Action_Time] LACTIONDT
      FROM [CMS].[dbo].[PushInfoPlanAction_History]
      where [PPID]=@TaskID
      order by [Action_Time] desc) dt
      on tt.[PPID]=dt.[PPID]
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="SelectPushActionHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(2000)
        DECLARE @CountSql NVARCHAR(2000)
        SET @SelectSql=N'SELECT
            TT.[nid],
            TT.[PPID],
            TT.[TelPhone],
            TT.[DeviceToken],
            TT.[Action_Time],
            TT.[Result]
            FROM (SELECT ROW_NUMBER() OVER(ORDER BY [Action_Time] desc) AS RowId
			  ,[nid]
			  ,[PPID]
			  ,[TelPhone]
			  ,[DeviceToken]
			  ,[Action_Time]
			  ,[Result]
			  FROM [CMS].[dbo].[PushPlanAction_History]
			  where PPID=@TaskID
			  AND ((@TelPhone IS NULL) OR (TelPhone = @TelPhone))
			  ) TT
        WHERE  TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

        SET @CountSql = N'SELECT @TotalCount=COUNT([TelPhone])
		    FROM [CMS].[dbo].[PushPlanAction_History]
		    where PPID=@TaskID
		    AND ((@TelPhone IS NULL) OR (TelPhone = @TelPhone))'

        EXEC sp_executesql @SelectSql,
        N'@TaskID NVARCHAR(50),
          @TelPhone NVARCHAR(255),
          @PageSize INT,
          @PageCurrent INT',
          @TaskID,
          @TelPhone,
          @PageSize,
          @PageCurrent
  
        EXEC sp_executesql @CountSql,
        N'@TaskID NVARCHAR(50),
          @TelPhone NVARCHAR(255),
          @TotalCount INT OUTPUT',
          @TaskID,
          @TelPhone,
          @TotalCount OUTPUT
       ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@TelPhone" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectPushInfoActionHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(2000)
        DECLARE @CountSql NVARCHAR(2000)
        SET @SelectSql=N'SELECT
            TT.[nid],
            TT.[PPID],
            TT.[UserID],
            TT.[DeviceToken],
            TT.[Action_Time],
            TT.[Result]
            FROM (SELECT ROW_NUMBER() OVER(ORDER BY [Action_Time] desc) AS RowId
			  ,[nid]
			  ,[PPID]
			  ,[UserID]
			  ,[DeviceToken]
			  ,[Action_Time]
			  ,[Result]
			  FROM [CMS].[dbo].[PushInfoPlanAction_History]
			  where PPID=@TaskID
			  AND ((@UserID IS NULL) OR (UserID = @UserID))
			  ) TT
        WHERE TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

        SET @CountSql = N'SELECT @TotalCount=COUNT([UserID])
		    FROM [CMS].[dbo].[PushInfoPlanAction_History]
		    where PPID=@TaskID
		    AND ((@UserID IS NULL) OR (UserID = @UserID))'

        EXEC sp_executesql @SelectSql,
        N'@TaskID NVARCHAR(50),
          @UserID NVARCHAR(255),
          @PageSize INT,
          @PageCurrent INT',
          @TaskID,
          @UserID,
          @PageSize,
          @PageCurrent
  
        EXEC sp_executesql @CountSql,
        N'@TaskID NVARCHAR(50),
          @UserID NVARCHAR(255),
          @TotalCount INT OUTPUT',
          @TaskID,
          @UserID,
          @TotalCount OUTPUT
       ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@UserID" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="ExportPushActionHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
      [nid]
      ,[PPID]
      ,[TelPhone]
      ,[DeviceToken]
      ,[Action_Time]
      ,[Result]
      FROM [CMS].[dbo].[PushPlanAction_History]
      where PPID=@TaskID
      AND ((@TelPhone IS NULL) OR (TelPhone = @TelPhone))
      order by [Action_Time] desc
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@TelPhone" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ExportPushInfoActionHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT 
      [nid]
      ,[PPID]
      ,[UserID]
      ,[DeviceToken]
      ,[Action_Time]
      ,[Result]
      FROM [CMS].[dbo].[PushInfoPlanAction_History]
      where PPID=@TaskID
      AND ((@UserID IS NULL) OR (UserID = @UserID))
      order by [Action_Time] desc
      ]]>
    </commandText>
    <parameters>
      <param name="@TaskID" dbType="String" />
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="PushHistorySelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT 
        [nid] AS TID
      ,[Type]
      ,[Push_Title] AS PTITLE
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count] AS ALLNUM
      ,[Suc_Count] AS SUCNUM
      ,[Action_Time] AS SEDTIME
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      ,'查看详情' AS MODIFY
      FROM [CMS].[dbo].[PushPlanManager]
      ORDER BY nid DESC
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="PushInfoHistorySelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT 
        [nid] AS TID
      ,[Type]
      ,[PushType]
      ,[Push_Title] AS PTITLE
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count] AS ALLNUM
      ,[Suc_Count] AS SUCNUM
      ,[Action_Time] AS SEDTIME
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      ,'查看详情' AS MODIFY
      FROM [CMS].[dbo].[PushInfoPlanManager]
      ORDER BY nid DESC
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>


  <dataCommand name="PushHistoryListSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT 
        [nid] AS TID
      ,[Type]
      ,[Push_Title] AS PTITLE
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count] AS ALLNUM
      ,[Suc_Count] AS SUCNUM
      ,[Action_Time] AS SEDTIME
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      ,'查看' AS MODIFY
      FROM [CMS].[dbo].[PushPlanManager]
      where 
      ((@Title IS NULL) OR ([Push_Title] like @Title))
      AND ((@Content IS NULL) OR ([Push_Content] like @Content))
      AND ((@StartDT IS NULL) OR ([Action_Time] >= @StartDT))
      AND ((@EndDT IS NULL) OR ([Action_Time] <= @EndDT))
      ORDER BY nid DESC
      ]]>
    </commandText>
    <parameters>
      <param name="@Title" dbType="String" />
      <param name="@Content" dbType="String" />
      <param name="@StartDT" dbType="String" />
      <param name="@EndDT" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="PushInfoHistoryListSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT 
        [nid] AS TID
      ,[Type]
      ,[PushType]
      ,[Push_Title] AS PTITLE
      ,[Push_Content]
      ,[Push_ProtoType]
      ,[Push_Users]
      ,[Status]
      ,[All_Count] AS ALLNUM
      ,[Suc_Count] AS SUCNUM
      ,[Action_Time] AS SEDTIME
      ,[Result]
      ,[Create_User]
      ,[Create_Time]
      ,[Update_User]
      ,[Update_Time]
      ,'查看' AS MODIFY
      FROM [CMS].[dbo].[PushInfoPlanManager]
      where 
      ((@Title IS NULL) OR ([Push_Title] like @Title))
      AND ((@Content IS NULL) OR ([Push_Content] like @Content))
      AND ((@StartDT IS NULL) OR ([Action_Time] >= @StartDT))
      AND ((@EndDT IS NULL) OR ([Action_Time] <= @EndDT))
      ORDER BY nid DESC
      ]]>
    </commandText>
    <parameters>
      <param name="@Title" dbType="String" />
      <param name="@Content" dbType="String" />
      <param name="@StartDT" dbType="String" />
      <param name="@EndDT" dbType="String" />
    </parameters>
  </dataCommand>

</dataOperations>