<?xml version="1.0" encoding="utf-8" ?>
<dataCommandFiles xmlns="http://www.hotelvp.com/DbCommandFiles">
	<file name="DataCommand_Channel.config" />
  <file name="DataCommand_Common.config" />
  <file name="DataCommand_Security.config" />
  <file name="DataCommand_LmSystemLog.config" />
  <file name="DataCommand_AutoSearch.config" />
  <file name="DataCommand_Partner.config" />
  <file name="DataCommand_HotelInfo.config" />
  <file name="DataCommand_Push.config" />
  <file name="DataCommand_CashBack.config" />
  <file name="DataCommand_IssueInfo.config" />
  <file name="DataCommand_Image.config" />

  <file name="DataCommand_CruiseInfo.config" />
</dataCommandFiles>