<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">

  <dataCommand name="UpdateOverDateData" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[HotelComparison]
         SET [Status] = '0'
       WHERE Create_Time <= dateadd(dd,-1,getdate()) AND [Status] = '1'
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="SaveHotelComparison" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       IF NOT EXISTS (SELECT [nid] FROM [CMS].[dbo].[HotelComparison] where [Hotel_ID]=@Hotel_ID AND Room_Code=@Room_Code AND [Status]='1')
       BEGIN
        INSERT INTO [CMS].[dbo].[HotelComparison]
           ([Hotel_ID]
           ,[Hotel_Name]
           ,[Room_Code]
           ,[Room_Name]
           ,[Mapping_Hotel]
           ,[Mapping_Room]
           ,[City_ID]
           ,[MPType]
           ,[DType]
           ,[DValue]
           ,[Two_Price]
           ,[Mapping_Price]
           ,[Act_Price]
           ,[Status]
           ,[Create_User]
           ,[Create_Time]
           ,[Update_User]
           ,[Update_Time])
     VALUES
           (@Hotel_ID
           ,@Hotel_Name
           ,@Room_Code
           ,@Room_Name
           ,@Mapping_Hotel
           ,@Mapping_Room
           ,@City_ID
           ,@MPType
           ,@DType
           ,@DValue
           ,@Two_Price
           ,@Mapping_Price
           ,@Act_Price
           ,'1'
           ,@CreateUser
           ,getdate()
           ,@CreateUser
           ,getdate()
           )
       END
       ELSE
       BEGIN
        UPDATE [CMS].[dbo].[HotelComparison]
           SET [Hotel_ID] = @Hotel_ID
              ,[Hotel_Name] = @Hotel_Name
              ,[Room_Code] = @Room_Code
              ,[Room_Name] = @Room_Name
              ,[Mapping_Hotel] = @Mapping_Hotel
              ,[Mapping_Room] = @Mapping_Room
              ,[City_ID] = @City_ID
              ,[MPType] = @MPType
              ,[DType] = @DType
              ,[DValue] = @DValue
              ,[Two_Price] = @Two_Price
              ,[Mapping_Price] = @Mapping_Price
              ,[Act_Price] = @Act_Price
              ,[Update_User] = @CreateUser
              ,[Update_Time] = getdate()
         WHERE [Hotel_ID] = @Hotel_ID AND [Room_Code] = @Room_Code AND [Status]='1'
       END
       ]]>
    </commandText>
    <parameters>
      <param name="@Hotel_ID" dbType="String" />
      <param name="@Hotel_Name" dbType="String" />
      <param name="@Room_Code" dbType="String" />
      <param name="@Room_Name" dbType="String" />
      <param name="@Mapping_Hotel" dbType="String" />
      <param name="@Mapping_Room" dbType="String" />
      <param name="@City_ID" dbType="String" />
      <param name="@MPType" dbType="String" />
      <param name="@DType" dbType="String" />
      <param name="@DValue" dbType="String" />
      <param name="@Two_Price" dbType="String" />
      <param name="@Mapping_Price" dbType="String" />
      <param name="@Act_Price" dbType="String" />
      <param name="@CreateUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetMailToList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [User_Account] 
      ,[User_Email]
  FROM [CMS].[dbo].[CMS_SYS_USERS] where User_Account=@UserID
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetMailDataList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select 
      dta.ALHLID,dta.ALRMCD,
      dtb.BHLID,dtb.BRMCD,
      dtc.LHLID,dtc.LRMCD,
      dtd.DHLID,dtd.DRMCD
      from
      (
      select count(distinct Hotel_ID) AS ALHLID, count(Room_Code) AS ALRMCD 
      from [dbo].[HotelComparison] where [status]='1'
      ) dta
      ,
      (
      select count(distinct Hotel_ID) AS BHLID, count(Room_Code) AS BRMCD from [dbo].[HotelComparison] 
      where [status]='1'
      and convert(decimal(8,2), [Two_Price]) > convert(decimal(8,2), [Act_Price]) + 5
      ) dtb
      ,
      (
      select count(distinct Hotel_ID) AS LHLID, count(Room_Code) AS LRMCD from [dbo].[HotelComparison] 
      where [status]='1'
      and convert(decimal(8,2), [Two_Price]) < convert(decimal(8,2), [Act_Price])
      ) dtc
      ,
      (
      select count(distinct Hotel_ID) AS DHLID, count(Room_Code) AS DRMCD from [dbo].[HotelComparison] 
      where [status]='1' and convert(decimal(8,2), [Two_Price]) >= convert(decimal(8,2), [Act_Price])
      and convert(decimal(8,2), [Two_Price]) <= convert(decimal(8,2), [Act_Price]) + 5
      ) dtd
      ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetMailDataTotalList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT hcp.[Hotel_ID]
            ,hcp.[Hotel_Name]
            ,hcp.[Room_Code]
            ,hcp.[Room_Name]
            ,hcp.[Mapping_Hotel]
            ,hcp.[Mapping_Room]
            ,hcp.[City_ID]
            ,hcp.[MPType]
            ,hcp.[DType]
            ,hcp.[DValue]
            ,hcp.[Two_Price]
            ,hcp.[Mapping_Price]
            ,hcp.[Act_Price]
            ,hcp.[Status]
            ,hcp.[Create_User]
            ,hcp.[Create_Time]
            ,hcp.[Update_User]
            ,hcp.[Update_Time]
            ,csu.User_DspName
        FROM [CMS].[dbo].[HotelComparison] hcp 
        left join dbo.HotelSalesManager hsm
        on hcp.[Hotel_ID]=hsm.Hotel_ID
        left join dbo.CMS_SYS_USERS csu
        on csu.[User_Account]=hsm.User_Account
        where hsm.[Status]='1' and hcp.[Status]='1'
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

</dataOperations>