<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="AutoListSelect_back" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       SELECT 
	    HSPD.[HPID]
	    ,HSP.[Type]
	    ,hsp.Start_Dtime AS PlanStart
	    ,hsp.End_Dtime AS PlanEnd
      ,hsp.[Plan_DTime]
	    ,convert(nvarchar, hsp.Plan_Time, 108) AS PlanTime
	    ,HSP.Week_List AS PlanWeek
      ,hsp.[Action]
	    ,hsp.Action_Time
	    ,convert(nvarchar, HSPD.[Start_Dtime], 111) AS StartDtime
	    ,convert(nvarchar, HSPD.[End_Dtime], 111) AS EndDtime
	    ,HSPD.[Week_List]
	    ,HSPD.[HOTEL_ID]
	    ,HSPD.[RATE_CODE]
	    ,HSPD.[MONEY_TYPE]
	    ,HSPD.[GUAID]
	    ,HSPD.[CXLID]
	    ,HSPD.[ROOM_TYPE_NAME]
	    ,HSPD.[ROOM_TYPE_CODE]
	    ,HSPD.[STATUS]
	    ,HSPD.[ROOM_NUM]
	    ,HSPD.[IS_RESERVE]
	    ,HSPD.[ONE_PRICE]
	    ,HSPD.[TWO_PRICE]
	    ,HSPD.[THREE_PRICE]
	    ,HSPD.[FOUR_PRICE]
	    ,HSPD.[ATTN_PRICE]
      ,HSPD.[NET_PRICE]
	    ,HSPD.[BREAKFAST_NUM]
	    ,HSPD.[EACH_BREAKFAST_PRICE]
	    ,HSPD.[IS_NETWORK]
	    ,HSPD.[OFFSETVAL]
	    ,HSPD.[OFFSETUNIT]
	    ,HSPD.[Create_User]
	    ,hsp.Update_Time
      ,hsp.Update_User
      FROM [CMS].[dbo].[HotelSalesPlanManager] hsp
      inner join dbo.HotelSalesPlanManager_Detail hspd
      on hsp.nid=hspd.HPID
      where 
      hsp.[Type]='1' 
      AND hsp.[Status]='1'
      AND hsp.[Plan_DTime] <= getdate()
      union all
      SELECT 
	    HSPD.[HPID]
	    ,HSP.[Type]
	    ,hsp.Start_Dtime AS PlanStart
	    ,hsp.End_Dtime AS PlanEnd
      ,hsp.[Plan_DTime]
	    ,convert(nvarchar, hsp.Plan_Time, 108) AS PlanTime
	    ,HSP.Week_List AS PlanWeek
      ,hsp.[Action]
	    ,hsp.Action_Time
	    ,convert(nvarchar, HSPD.[Start_Dtime], 111) AS StartDtime
	    ,convert(nvarchar, HSPD.[End_Dtime], 111) AS EndDtime
	    ,HSPD.[Week_List]
	    ,HSPD.[HOTEL_ID]
	    ,HSPD.[RATE_CODE]
	    ,HSPD.[MONEY_TYPE]
	    ,HSPD.[GUAID]
	    ,HSPD.[CXLID]
	    ,HSPD.[ROOM_TYPE_NAME]
	    ,HSPD.[ROOM_TYPE_CODE]
	    ,HSPD.[STATUS]
	    ,HSPD.[ROOM_NUM]
	    ,HSPD.[IS_RESERVE]
	    ,HSPD.[ONE_PRICE]
	    ,HSPD.[TWO_PRICE]
	    ,HSPD.[THREE_PRICE]
	    ,HSPD.[FOUR_PRICE]
	    ,HSPD.[ATTN_PRICE]
	    ,HSPD.[BREAKFAST_NUM]
	    ,HSPD.[EACH_BREAKFAST_PRICE]
	    ,HSPD.[IS_NETWORK]
	    ,HSPD.[OFFSETVAL]
	    ,HSPD.[OFFSETUNIT]
	    ,HSPD.[Create_User]
	    ,hsp.Update_Time
      ,hsp.Update_User
      FROM [CMS].[dbo].[HotelSalesPlanManager] hsp
      inner join dbo.HotelSalesPlanManager_Detail hspd
      on hsp.nid=hspd.HPID
      where 
      hsp.[Type]='2' 
      AND hsp.[Status]='1'
      AND hsp.Start_Dtime <= convert(nvarchar, getdate(), 111)
      AND convert(nvarchar, getdate(), 111) <= hsp.End_Dtime
      AND convert(nvarchar, hsp.Plan_Time, 108) <= convert(nvarchar, getdate(), 108)
      AND ((hsp.Action_Time IS NULL) OR (convert(nvarchar, hsp.Action_Time, 111) < convert(nvarchar, getdate(), 111)))
      order by HSP.[Type]
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="AutoListSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       SELECT 
      hspj.[nid] AS JID
      ,hspj.Plan_DTime AS JPDTime
      ,hsp.[nid] AS HPID
      ,HSP.[Type]
      ,hsp.Start_Dtime AS PlanStart
      ,hsp.End_Dtime AS PlanEnd
      ,convert(nvarchar, hsp.End_Dtime, 111) AS PlanPlanEnd
      ,hsp.[Plan_DTime]
      ,convert(nvarchar, hsp.Plan_Time, 108) AS PlanTime
      ,HSP.Week_List AS PlanWeek
      ,hsp.[Action]
      ,hsp.Action_Time
      ,hsp.Update_User
      ,hsp.Update_Time
      ,convert(nvarchar, HSPD.[Start_Dtime], 111) AS StartDtime
      ,convert(nvarchar, HSPD.[End_Dtime], 111) AS EndDtime
      ,HSPD.[EFFECT_HOUR]
      ,HSPD.[Week_List]
      ,HSPD.[HOTEL_ID]
      ,HSPD.[RATE_CODE]
      ,HSPD.[MONEY_TYPE]
      ,HSPD.[GUAID]
      ,HSPD.[CXLID]
      ,HSPD.[ROOM_TYPE_NAME]
      ,HSPD.[ROOM_TYPE_CODE]
      ,HSPD.[STATUS]
      ,HSPD.[ROOM_NUM]
      ,HSPD.[IS_RESERVE]
      ,HSPD.[ONE_PRICE]
      ,HSPD.[TWO_PRICE]
      ,HSPD.[THREE_PRICE]
      ,HSPD.[FOUR_PRICE]
      ,HSPD.[ATTN_PRICE]
      ,HSPD.[NET_PRICE]
      ,HSPD.[BREAKFAST_NUM]
      ,HSPD.[EACH_BREAKFAST_PRICE]
      ,HSPD.[IS_NETWORK]
      ,HSPD.[OFFSETVAL]
      ,HSPD.[OFFSETUNIT]
      ,HSPD.[Create_User]
      ,HSPD.[SOURCE]
      FROM [CMS].[dbo].[HotelSalesPlanManager_Job] hspj
      inner join dbo.HotelSalesPlanManager hsp
      on hsp.nid = hspj.HPID
      inner join dbo.HotelSalesPlanManager_Detail hspd
      on hsp.nid=hspd.HPID
      where 
      hsp.[Status]='1' 
      and hspj.[Action] = '0' 
      and hspj.[Status]='1' 
      and getdate()-1 <= hspj.[Plan_DTime]
      and hspj.[Plan_DTime] <= getdate()
      order by hspj.[nid],HSP.[Type], hsp.End_Dtime, hsp.Plan_Time
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>
  
  <dataCommand name="UpdateSalesPlanEventStatus" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [CMS].[dbo].[HotelSalesPlanManager]
         SET [Status]=@Status
            ,[Action]= convert(nvarchar, (convert(int, [Action]) + 1))
            ,[Result]=@Result
            ,[Update_User]=@Update_User
            ,[Update_Time]=getdate()
            ,Action_Time=getdate()
       WHERE nid = @HPID AND [Status] <> '2'
       ]]>
    </commandText>
    <parameters>
      <param name="@HPID" dbType="String" />
      <param name="@Status" dbType="String" />
      <param name="@Result" dbType="String" />
      <param name="@Update_User" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateSalesPlanEventJobStatus" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       UPDATE [CMS].[dbo].[HotelSalesPlanManager_Job]
         SET 
            [Action] =@Action
            ,[Action_Time] = getdate()
            ,[Result] =@Result
            ,[Update_User] = @Update_User
            ,[Update_Time] = getdate()
       WHERE [nid] = @JID
       ]]>
    </commandText>
    <parameters>
      <param name="@JID" dbType="String" />
      <param name="@Action" dbType="String" />
      <param name="@Result" dbType="String" />
      <param name="@Update_User" dbType="String" />
    </parameters>
  </dataCommand>
  
</dataOperations>