<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="SelectCmsUserList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N' WHERE 1=1'
       IF LEN(@SearchText) !=''
    SET @WhereSql = @WhereSql + @SearchText
     
     SET @SelectSql=N'
     SELECT [User_UserID]
      ,[User_Account]
      ,[User_Pwd]
      ,[User_DspName]
      ,[User_HRID]
      ,[User_Email]
      ,[User_Tel]
      ,[User_JoinDate]
      ,[User_CostCenter]
      ,[User_Language]
      ,[User_Level]
      ,[User_Active]
      ,[User_Sex]
      ,[User_Birthday]
      ,[User_Title]
      ,[User_Education]
      ,[User_FirstName]
      ,[User_LastName]
      ,[Group_ID]
      ,[User_LineManager]
      ,[User_Department]
      ,[Create_Time]
      ,[Update_Time]
      ,[User_Creator]
      ,[User_SalesManager]
        FROM [dbo].[CMS_SYS_USERS]
    '+ @WhereSql
    
    
    EXEC sp_executesql @SelectSql,
    N'@SearchText NVARCHAR(100)',
      @SearchText
      ]]>
    </commandText>
    <parameters>
      <param name="@SearchText" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="InsertCmsUser" database="CMS" commandType="Text">        
     <commandText>
      <![CDATA[  
      INSERT INTO [dbo].[CMS_SYS_USERS]
           (
           [User_Account]
           ,[User_Pwd]
           ,[User_DspName]
           ,[User_Email]
           ,[User_HRID]
           ,[User_Tel]
           ,[User_Title]
           ,[User_SalesManager]
           )
     VALUES
           (@User_Account
           ,@User_Pwd
           ,@User_DspName
           ,@User_Email
           ,@User_HRID
           ,@User_Tel
           ,@User_Title
           ,@User_Manager
          )
      ]]>
     </commandText>
     <parameters>
       <param name="@User_Account" dbType="String" />
       <param name="@User_Pwd" dbType="String"/>
       <param name="@User_DspName" dbType="String" />
       <param name="@User_Email" dbType="String" />
       <param name="@User_HRID" dbType="String" />
       <param name="@User_Tel" dbType="String" />
       <param name="@User_Title" dbType="String" />
       <param name="@User_Manager" dbType="String" />
     </parameters>
  </dataCommand>

  <dataCommand name="SelectCmsUserByID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N' WHERE 1=1'
       IF LEN(@USER_Account) !=''
    SET @WhereSql = @WhereSql + N' AND [USER_Account] = @USER_Account'
     
     SET @SelectSql=N'
     SELECT [User_UserID]
      ,[User_Account]
      ,[User_Pwd]
      ,[User_DspName]
      ,[User_HRID]
      ,[User_Email]
      ,[User_Tel]
      ,[User_JoinDate]
      ,[User_CostCenter]
      ,[User_Language]
      ,[User_Level]
      ,[User_Active]
      ,[User_Sex]
      ,[User_Birthday]
      ,[User_Title]
      ,[User_Education]
      ,[User_FirstName]
      ,[User_LastName]
      ,[Group_ID]
      ,[User_LineManager]
      ,[User_Department]
      ,[Create_Time]
      ,[Update_Time]
      ,[User_Creator]
      ,[User_SalesManager]
        FROM [dbo].[CMS_SYS_USERS]
    '+ @WhereSql
    
    
    EXEC sp_executesql @SelectSql,
    N'@USER_Account NVARCHAR(50)',
      @USER_Account
      ]]>
    </commandText>
    <parameters>
      <param name="@USER_Account" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateCmsUserByID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[      
      UPDATE [dbo].[CMS_SYS_USERS] SET [User_Pwd]=@User_Pwd
           ,[User_DspName] = @User_DspName       
           ,[User_Email] = @User_Email
           ,[User_HRID] = @User_HRID
           ,[User_Tel] = @User_Tel
           ,[User_Title] = @User_Title
           ,[User_SalesManager] = @User_Manager
      where [User_Account] = @User_Account 
      
      ]]>
    </commandText>
    <parameters>
      <param name="@User_Account" dbType="String" />
      <param name="@User_Pwd" dbType="String"/>
      <param name="@User_DspName" dbType="String" />
      <param name="@User_Email" dbType="String" />
      <param name="@User_HRID" dbType="String" />
      <param name="@User_Tel" dbType="String" />
      <param name="@User_Title" dbType="String" />
      <param name="@User_Manager" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateCmsUserByIDNoPwd" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[      
      UPDATE [dbo].[CMS_SYS_USERS] SET [User_DspName] = @User_DspName
           ,[User_Email] = @User_Email
           ,[User_HRID] = @User_HRID
           ,[User_Tel] = @User_Tel
           ,[User_Title] = @User_Title
           ,[User_SalesManager] = @User_Manager
      where [User_Account] = @User_Account 
      ]]>
    </commandText>
    <parameters>
      <param name="@User_Account" dbType="String" />
      <param name="@User_DspName" dbType="String" />
      <param name="@User_Email" dbType="String" />
      <param name="@User_HRID" dbType="String" />
      <param name="@User_Tel" dbType="String" />
      <param name="@User_Title" dbType="String" />
      <param name="@User_Manager" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UserLoginByAccount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [User_UserID]
      ,[User_Account]
      ,[User_Pwd]
      ,[User_DspName]      
     FROM [dbo].[CMS_SYS_USERS] 
     where [USER_Account] = @USER_Account and [User_Pwd]=@User_Pwd  
      ]]>
    </commandText>
    <parameters>
      <param name="@USER_Account" dbType="String" />
      <param name="@User_Pwd" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateCmsUserPasswordByID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[      
      UPDATE [CMS_SYS_USERS] SET [User_Pwd]=@User_Pwd Where [User_Account] = @User_Account 
      
      ]]>
    </commandText>
    <parameters>
      <param name="@User_Account" dbType="String" />
      <param name="@User_Pwd" dbType="String"/>      
    </parameters>
  </dataCommand>
  
  
  <dataCommand name="SelectRolesList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [Role_ID]
      ,[Role_Name]
      ,[Role_Description]
      ,[Role_Active]
      ,[Create_Time]
      ,[Update_Time]
      ,[Role_Creator]
        FROM [dbo].[CMS_SYS_ROLES]
      ]]>
    </commandText>   
  </dataCommand>

  <dataCommand name="InsertRole" database="CMS" commandType="Text">
      <commandText>
      <![CDATA[ 
       INSERT INTO [dbo].[CMS_SYS_ROLES]
           ([Role_Name]                
           ,[Create_Time]
           ,[Update_Time]
           ,[Role_Creator]
           )
     VALUES
           (@Role_Name             
           ,@Create_Time
           ,@Update_Time
           ,@Role_Creator         
          )
       ]]>
    </commandText>
    <parameters>
      <param name="@Role_Name" dbType="String" />
      <param name="@Create_Time" dbType="String" />
      <param name="@Update_Time" dbType="String" />
      <param name="@Role_Creator" dbType="String" />      
    </parameters>
  </dataCommand>

  <dataCommand name="SelectByRoleName" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[    
     SELECT [Role_ID]
      ,[Role_Name]
      ,[Role_Description]
      ,[Role_Active]
      ,[Create_Time]
      ,[Update_Time]
      ,[Role_Creator]
      FROM [dbo].[CMS_SYS_ROLES] where [Role_Name] = @Role_Name
      ]]>
    </commandText>
    <parameters>
      <param name="@Role_Name" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateRoleByID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[      
      update [CMS_SYS_ROLES]  set  [Role_Name]=@Role_Name,[Update_Time]=@Update_Time where [Role_ID]=@Role_ID      
      ]]>
    </commandText>
    <parameters>
      <param name="@Role_Name" dbType="String" />
      <param name="@Update_Time" dbType="String" />
      <param name="@Role_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectRoleNameByNotEqualID" database="CMS" commandType="Text">
    <commandText>
  <![CDATA[  
      select [Role_ID],[Role_Name] from CMS_SYS_ROLES  where [Role_ID]<>@Role_ID AND [Role_Name] = @Role_Name
  ]]>
    </commandText>
    <parameters>      
      <param name="@Role_ID" dbType="String" />
      <param name="@Role_Name" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="DeleteRoleByID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[      
      delete from [CMS_SYS_ROLES]  where [Role_ID]=@Role_ID      
      ]]>
    </commandText>
    <parameters>     
      <param name="@Role_ID" dbType="String" />
    </parameters>
  </dataCommand>
  

  <dataCommand name="SelectUserInRoleList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT *  FROM CMS_SYS_USERS where [User_Active]=1 and User_Account in ( SELECT User_Account FROM  CMS_SYS_USER_ELEMENT WHERE role_id  = @roleid)
       ]]>
    </commandText>
    <parameters>
      <param name="@roleid" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="SelectUserNotInRoleList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[       
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N' and 1=1'
       IF LEN(@SearchText) !=''
    SET @WhereSql = @WhereSql + @SearchText
     
     SET @SelectSql=N'     
     SELECT *  FROM CMS_SYS_USERS where 
     [User_Active]=1 and User_Account not in ( SELECT User_Account FROM  CMS_SYS_USER_ELEMENT WHERE role_id  = @roleid )' + @WhereSql    
    
      EXEC sp_executesql @SelectSql,
      N'@roleid NVARCHAR(50),
      @SearchText NVARCHAR(100)',
      @roleid,
      @SearchText
      
       ]]>
    </commandText>
    <parameters>
      <param name="@roleid" dbType="String" />
      <param name="@SearchText" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="DeleteUserElementByUserAccount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[     
      delete from CMS_SYS_USER_ELEMENT where role_id=@Role_ID and User_Account=@User_Account
      ]]>
    </commandText>
    <parameters>
      <param name="@Role_ID" dbType="String" />
      <param name="@User_Account" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateUserElementByUserAccount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[     
      update CMS_SYS_USER_ELEMENT set role_id=@Role_ID where User_Account=@User_Account
      ]]>
    </commandText>
    <parameters>
      <param name="@Role_ID" dbType="String" />
      <param name="@User_Account" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertToUserElement" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[      
       INSERT INTO  [CMS_SYS_USER_ELEMENT]
       ([Role_ID],
       [User_Account],
       [UE_Type],
       [UE_Creator]
       )       
     VALUES
           (@Role_ID             
           ,@User_Account
           ,@UE_Type
           ,@UE_Creator         
          )
       ]]>
    </commandText>
    <parameters>
      <param name="@Role_ID" dbType="String" />
      <param name="@User_Account" dbType="String" />
      <param name="@UE_Type" dbType="String" />
      <param name="@UE_Creator" dbType="String" />
    </parameters>
  </dataCommand>

  
  
  <dataCommand name="SelectMenuList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N' WHERE 1=1'
       IF LEN(@SearchText) !=''
    SET @WhereSql = @WhereSql + @SearchText
     
     SET @SelectSql=N'
     SELECT dt.*,case when csm.Menu_Name is null then dt.Menu_Name else csm.Menu_Name end Parent_MenuNM
      FROM [dbo].[CMS_SYS_MENU] dt left join CMS_SYS_MENU csm on dt.Parent_MenuId=csm.Menu_ID 
    '+ @WhereSql + '  order by Parent_MenuNM,dt.Parent_MenuId,dt.Menu_OrderID'

    EXEC sp_executesql @SelectSql,
    N'@SearchText NVARCHAR(300)',
      @SearchText
      ]]>
    </commandText>
    <parameters>
      <param name="@SearchText" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateMenuLimit" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[          
      update CMS_SYS_MENU set Menu_Limit=@Menu_Limit where Menu_ID=@Menu_ID
      ]]>
    </commandText>
    <parameters>
      <param name="@Menu_Limit" dbType="String" />
      <param name="@Menu_ID" dbType="String" />     
    </parameters>
  </dataCommand>  

  <dataCommand name="UpdateMenuDisplay" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[                
      update CMS_SYS_MENU set Menu_Show=@Menu_Show where Menu_ID=@Menu_ID
      ]]>
    </commandText>
    <parameters>
      <param name="@Menu_Show" dbType="String" />
      <param name="@Menu_ID" dbType="String" />
    </parameters>
  </dataCommand>
 
  <dataCommand name="InsertMenu" database="CMS" commandType="Text">
  <commandText>
    <![CDATA[  
    INSERT INTO [dbo].[CMS_SYS_MENU]
           ([Parent_MenuId]
           ,[Menu_Name]
           ,[Menu_Url]
           ,[Menu_Target]
           ,[Menu_Show]
           ,[Menu_OrderID]
           ,[Menu_Type]
           ,[Menu_Level]
           ,[Menu_Limit]          
           ,[Menu_Creator])
     VALUES
           (@Parent_MenuId
           ,@Menu_Name
           ,@Menu_Url
           ,@Menu_Target
           ,@Menu_Show
           ,@Menu_OrderID
           ,@Menu_Type
           ,@Menu_Level
           ,@Menu_Limit                 
           ,@Menu_Creator
           )
      ]]>
  </commandText>
  <parameters>
    <param name="@Parent_MenuId" dbType="Int32" />
    <param name="@Menu_Name" dbType="String"/>
    <param name="@Menu_Url" dbType="String" />
    <param name="@Menu_Target" dbType="String" />
    <param name="@Menu_Show" dbType="Int32" />
    <param name="@Menu_OrderID" dbType="Int32" />
    <param name="@Menu_Type" dbType="Int32" />       
    <param name="@Menu_Level" dbType="Int32" />
    <param name="@Menu_Limit" dbType="Int32" />
    <param name="@Menu_Creator" dbType="String" />
  </parameters>
</dataCommand>

  <dataCommand name="UpdateMenuByMenuID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    update [CMS_SYS_MENU] set [Parent_MenuId] = @Parent_MenuId ,[Menu_Name] = @Menu_Name,[Menu_Url] = @Menu_Url ,[Menu_Target] = @Menu_Target ,[Menu_Show] = @Menu_Show,[Menu_OrderID] = @Menu_OrderID,[Menu_Level] = @Menu_Level,[Menu_Limit] = @Menu_Limit,[Update_Time] = @Update_Time where [Menu_ID] = @Menu_ID
      ]]>     
    </commandText>
    <parameters>     
      <param name="@Parent_MenuId" dbType="Int32" />
      <param name="@Menu_Name" dbType="String"/>
      <param name="@Menu_Url" dbType="String" />
      <param name="@Menu_Target" dbType="String" />
      <param name="@Menu_Show" dbType="Int32" />
      <param name="@Menu_OrderID" dbType="Int32" />     
      <param name="@Menu_Level" dbType="Int32" />
      <param name="@Menu_Limit" dbType="Int32" />
      <param name="@Update_Time" dbType="String" />     
      <param name="@Menu_ID" dbType="Int32" />
    </parameters>                            
  </dataCommand>
 
  <dataCommand name="DeleteMenuByMenuID" database="CMS" commandType="Text">
  <commandText>
    <![CDATA[    
       delete CMS_SYS_MENU where Menu_ID=@Menu_ID
      ]]>
  </commandText>
  <parameters>  
    <param name="@Menu_ID" dbType="String" />
  </parameters>    
</dataCommand>
  
  <dataCommand name="SelectFirstMenuList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT Menu_ID,Menu_Name FROM [dbo].[CMS_SYS_MENU]  where Parent_MenuId=0 order by Menu_OrderID
      ]]>
    </commandText>
   
  </dataCommand>
  
  
  <!--用于菜单权限设置和显示的语句-->
  <dataCommand name="SelectActiveRoleList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[    
    SELECT Role_ID ,Role_Name FROM CMS_SYS_ROLES where Role_Active=1
    ]]>
    </commandText>
  </dataCommand>
  
  <dataCommand name="SelectActiveUserList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[ 
    SELECT User_Account ,User_DspName FROM CMS_SYS_USERS where User_Active=1
      ]]>
    </commandText>
  </dataCommand>
  
  <dataCommand name="SelectMenuIDByMenuLevelAndMenuName" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[ 
     Select Menu_ID from CMS_SYS_MENU Where Menu_Level=@Menu_Level and Menu_Name=@Menu_Name
      ]]>
    </commandText>
    <parameters>
      <param name="@Menu_Level" dbType="String" />
      <param name="@Menu_Name" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectRightByModuleID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[ 
        Select User_DspName,1 MTYPE,USER_ACCOUNT MID  From CMS_SYS_USERS  WHERE USER_ACCOUNT IN (SELECT User_ID FROM CMS_SYS_PERMISSION WHERE Module_ID=@Module_ID AND Permission_Type=1)
         UNION 
        Select Role_Name as User_DspName, 3 MTYPE, CAST (ROLE_ID AS VARCHAR(30)) MID  FROM  CMS_SYS_ROLES WHERE ROLE_ID IN (SELECT Permission_Code FROM CMS_SYS_PERMISSION WHERE Module_ID=@Module_ID AND Permission_Type=3) 
      ]]>
    </commandText>
    <parameters>
      <param name="@Module_ID" dbType="Int32" />     
    </parameters>     
  </dataCommand>

  <dataCommand name="SelectMenuByLevelAndName" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[ 
      Select * from CMS_SYS_MENU Where Menu_Level=@Menu_Level and Menu_Name=@Menu_Name
       ]]>
  </commandText>
    <parameters>
      <param name="@Menu_Level" dbType="String" />
      <param name="@Menu_Name" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="DeletePermissionByModuleID" database="CMS" commandType="Text">
    <commandText>
       <![CDATA[ 
      Delete From CMS_SYS_PERMISSION Where Module_ID=@Module_ID
       ]]>
    </commandText>
    <parameters>
      <param name="@Module_ID" dbType="String" />     
    </parameters>
  </dataCommand>

<!--查找可用的模块-->
  <dataCommand name="SelectModulesRightListByUserAccount" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[ 
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N' and 1=1'
       IF LEN(@SearchText) !=''
    SET @WhereSql = @WhereSql + @SearchText
    
     SET @SelectSql=N'select distinct a.Module_ID as Menu_ID,a.Module_Right,b.Parent_MenuId,b.Menu_Name,b.Menu_Target,b.Menu_OrderID,b.Menu_Url,b.Menu_Level from (
                  --查询用户帐号下的权限
                  select Module_ID,Module_Type,Module_Right from CMS_SYS_PERMISSION a,CMS_SYS_USERS b where a.USER_ID=b.USER_Account
                  and Module_Type=1 and a.Permission_Type=1 and a.USER_ID=@USER_ID
                  union 
                  --查询用户所有角色的权限
                  select Module_ID,Module_Type,Module_Right from CMS_SYS_PERMISSION a,
                  (select distinct Role_ID from CMS_SYS_USER_ELEMENT where User_Account=@USER_ID) b 
                  where a.Permission_Code=b.Role_ID and a.Module_Type=1 and a.Permission_Type=3) a,CMS_SYS_MENU b where a.Module_ID=b.Menu_ID and b.Menu_Show=1 and b.Menu_Limit=1'+ @SearchText+'
                  union 
                  select b.Menu_ID,1,b.Parent_MenuId,b.Menu_Name,b.Menu_Target,b.Menu_OrderID,b.Menu_Url,b.Menu_Level '+@SearchText+'
                  from CMS_SYS_MENU b  where b.Menu_Limit=0 and b.Menu_Show=1  order by b.Menu_OrderID' 

    EXEC sp_executesql @SelectSql,
    N'@SearchText NVARCHAR(100),@USER_ID NVARCHAR(100)',
      @SearchText,@USER_ID
       ]]>
    </commandText>
    <parameters>
      <param name="@SearchText" dbType="String" />
      <param name="@USER_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectModulesByLevel" database="CMS" commandType="Text">
    <commandText>
       <![CDATA[ 
          DECLARE @SelectSql NVARCHAR(2000)
          DECLARE @WhereSql NVARCHAR(2000)
    
          SET @WhereSql=N' and 1=1'
             IF LEN(@SearchText) !=''
          SET @WhereSql = @WhereSql + @SearchText
          SET @SelectSql=N'
          select Menu_ID
          ,Parent_MenuId 
          ,Menu_Name
          ,Menu_Url
          ,Menu_Target
          ,Menu_OrderID
          ,Menu_Type
          ,Menu_Level
          ,Menu_Limit  
          from CMS_SYS_MENU where Menu_Show=1'+ @WhereSql +' order by Menu_OrderID'
          
          EXEC sp_executesql @SelectSql,
          N'@SearchText NVARCHAR(100)',
            @SearchText
          
        ]]>
    </commandText>
    <parameters>
      <param name="@SearchText" dbType="String" />    
    </parameters>
  </dataCommand>

  <dataCommand name="SelectModulesByAdmin" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[ 
          DECLARE @SelectSql NVARCHAR(2000)
          DECLARE @WhereSql NVARCHAR(2000)
    
          SET @WhereSql=N' and 1=1'
             IF LEN(@SearchText) !=''
          SET @WhereSql = @WhereSql + @SearchText
          SET @SelectSql=N'
          select Menu_ID
          ,Parent_MenuId 
          ,Menu_Name
          ,Menu_Url
          ,Menu_Target
          ,Menu_OrderID
          ,Menu_Type
          ,Menu_Level
          ,Menu_Limit  
          from CMS_SYS_MENU where Menu_Show=1'+ @WhereSql +' order by Menu_OrderID'
          
          EXEC sp_executesql @SelectSql,
          N'@SearchText NVARCHAR(100)',
            @SearchText
          
        ]]>
    </commandText>
    <parameters>
      <param name="@SearchText" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectModulesWithLimit" database="CMS" commandType="Text">
    <commandText>
       <![CDATA[ 
        select Menu_ID,Parent_MenuId ,Menu_Name,Menu_Url,Menu_Target,Menu_OrderID,Menu_Type,Menu_Level,Menu_Limit  from CMS_SYS_MENU where Menu_Show=1 and Menu_Limit=1 order by Menu_OrderID
     ]]>
     </commandText>
   
  </dataCommand>

  <!--insert right_user-->
  <dataCommand name="InsertRightForUser" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     INSERT INTO CMS_SYS_PERMISSION
       (
       USER_ID
       ,Permission_Type
       ,Module_ID
       ,Module_Type
       ,Module_Right
       ,Creator
       ) 
     VALUES
      (
      @USER_ID
      ,@Permission_Type
      ,@Module_ID
      ,@Module_Type
      ,@Module_Right
      ,@Creator
      )
       ]]>
    </commandText>
    <parameters>
      <param name="@USER_ID" dbType="String" />
      <param name="@Permission_Type" dbType="String" />
      <param name="@Module_ID" dbType="String" />
      <param name="@Module_Type" dbType="String" />
      <param name="@Module_Right" dbType="String" />
      <param name="@Creator" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateRightForUser" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        update CMS_SYS_PERMISSION 
        set Module_Right=@Module_Right
        ,UpdatedBy=@UpdatedBy
        ,Update_Time=@Update_Time 
        where USER_ID=@USER_ID and Permission_Type=1 and Module_ID=@Module_ID and Module_Type=3
       ]]>
    </commandText>
    <parameters>
      <param name="@Module_Right" dbType="String" />
      <param name="@UpdatedBy" dbType="String" />
      <param name="@Update_Time" dbType="String" />
      <param name="@USER_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />     
    </parameters>
  </dataCommand>
  
  <dataCommand name="UpdateRightForUserModuleTypeEqual1" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        update CMS_SYS_PERMISSION 
        set Module_Right=@Module_Right
        ,UpdatedBy=@UpdatedBy
        ,Update_Time=@Update_Time 
        where USER_ID=@USER_ID and Permission_Type=1 and Module_ID=@Module_ID and Module_Type=1
       ]]>
    </commandText>
    <parameters>
      <param name="@Module_Right" dbType="String" />
      <param name="@UpdatedBy" dbType="String" />
      <param name="@Update_Time" dbType="String" />
      <param name="@USER_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>


  <dataCommand name="SelectMenuIDByMenuIDInParentMenuID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      select Menu_ID from CMS_SYS_MENU where Menu_ID=(select Parent_MenuId from CMS_SYS_MENU where Menu_ID=@Menu_ID)
    ]]>
    </commandText>
  <parameters>
    <param name="@Menu_ID" dbType="String" />    
  </parameters>
</dataCommand>

  <dataCommand name="SelectCountByUserIDAndModuleID" database="CMS" commandType="Text">
      <commandText>
        <![CDATA[
        select count(*) from CMS_SYS_PERMISSION where USER_ID=@USER_ID and Permission_Type=1 and Module_ID=@Module_ID and Module_Type=1  
     ]]>
    </commandText>
    <parameters>
      <param name="@USER_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="SelectMenuIDByParentMenuID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       select Menu_ID from CMS_SYS_MENU where Parent_MenuID=@Module_ID      
    ]]>
    </commandText>
    <parameters>
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectRightByUserAccoutAndModuleID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        select Module_Right from CMS_SYS_PERMISSION where USER_ID=@USER_ID and Permission_Type=1 and Module_Type=1 and Module_ID=@Module_ID
      ]]>
    </commandText>
    <parameters>
      <param name="@USER_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <!--insert right_role-->
  <dataCommand name="InsertRightForRole" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     INSERT INTO CMS_SYS_PERMISSION
       (
       Permission_Code
       ,Permission_Type
       ,Module_ID
       ,Module_Type
       ,Module_Right
       ,Creator
       ) 
     VALUES
      (
      @Permission_Code
      ,@Permission_Type
      ,@Module_ID
      ,@Module_Type
      ,@Module_Right
      ,@Creator
      )
       ]]>
    </commandText>
    <parameters>
      <param name="@Permission_Code" dbType="String" />
      <param name="@Permission_Type" dbType="String" />
      <param name="@Module_ID" dbType="String" />
      <param name="@Module_Type" dbType="String" />
      <param name="@Module_Right" dbType="String" />
      <param name="@Creator" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateRightForRole" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       update CMS_SYS_PERMISSION 
       set Module_Right=@Module_Right
       ,Creator=@Creator
       ,Update_Time=@Update_Time
       where Permission_Code=@Role_ID and Permission_Type=3 and Module_ID=@Module_ID and Module_Type=3
       ]]>
    </commandText>
    <parameters>
      <param name="@Module_Right" dbType="String" />
      <param name="@Creator" dbType="String" />
      <param name="@Update_Time" dbType="String" />
      <param name="@Role_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateRightForRoleAndModuleTypeEqual1" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       update CMS_SYS_PERMISSION 
       set Module_Right=@Module_Right
       ,UpdatedBy=@UpdatedBy
       ,Update_Time=@Update_Time
       where Permission_Code=@Role_ID and Permission_Type=3 and Module_ID=@Module_ID and Module_Type=1
       ]]>
    </commandText>
    <parameters>
      <param name="@Module_Right" dbType="String" />
      <param name="@UpdatedBy" dbType="String" />
      <param name="@Update_Time" dbType="String" />
      <param name="@Role_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="SelectCountByRoleIDAndModuleID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       select count(*) from CMS_SYS_PERMISSION where Permission_Code=@Role_ID and Permission_Type=3 and Module_ID=@Module_ID and Module_Type=1
     ]]>
    </commandText>
    <parameters>
      <param name="@Role_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectRightByRoleIDAndModuleID" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        select Module_Right from CMS_SYS_PERMISSION where Permission_Code=@Role_ID and Permission_Type=3 and Module_Type=1 and Module_ID=@Module_ID
      ]]>
    </commandText>
    <parameters>
      <param name="@Role_ID" dbType="String" />
      <param name="@Module_ID" dbType="String" />
    </parameters>
  </dataCommand>

</dataOperations>