<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  
  <dataCommand name="GetLiquidateList" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
          DECLARE @SelectSql NVARCHAR(2000)
          DECLARE @CountSql NVARCHAR(2000)
          DECLARE @WhereSql NVARCHAR(2000)

          IF LEN(@SortField)=0 
	          SET @SortField = N'dt.CREATETIME' 
	      IF LEN(@SortType)=0 
	          SET @SortType = N'DESC' 

          SET @WhereSql=N'WHERE 1=1'
          IF LEN(@UnitID) > 0
          SET @WhereSql = @WhereSql + N' AND slm.UNITID = @UnitID'
          IF LEN(@UnitName) > 0
          SET @WhereSql = @WhereSql + N' AND slm.UNITNM like LIKE @UnitName'
           IF LEN(@HotelID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.HOTELID = @HotelID'
           IF LEN(@HotelGroup) > 0
          SET @WhereSql =@WhereSql + N' AND lit.GROUPID = @HotelGroup'
           IF LEN(@CityID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.CITYID = @CityID'
           IF LEN(@UnitCharge) > 0
          SET @WhereSql =@WhereSql + N' AND lit.UNITCHARGE = @UnitCharge'
           IF LEN(@SaveUser) > 0
          SET @WhereSql =@WhereSql + N' AND slm.SAVEUSER = @SaveUser'
           IF LEN(@OrderID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.ORDERID = @OrderID'
          IF LEN(@SlMonth) > 0
          SET @WhereSql =@WhereSql + N' AND slm.SLMONTH = @SlMonth'
          IF LEN(@SlStatus) > 0
          SET @WhereSql =@WhereSql + N' AND slm.SLSTATUS = @SlStatus'
          IF LEN(@BillID) > 0
          SET @WhereSql =@WhereSql + N' AND slm.BILLID = @BillID'
    

          SET @SelectSql=N'
          SELECT 
	          TT.[SLID]
		      ,TT.[BILLID]
		      ,TT.[UNITID]
		      ,TT.[UNITNM]
		      ,TT.[UNITCHARGE]
		      ,TT.[SLMONTH]
		      ,TT.[TERMS]
		      ,TT.[INITIALSLAMOUNT]
		      ,TT.[ACTIVESLAMOUNT]
		      ,TT.[INVOICEID]
		      ,TT.[INVOICESTATUS]
		      ,TT.[WRITEOFFID]
		      ,TT.[SLSTATUS]
          ,CASE WHEN TT.[SLSTATUS] = ''0'' THEN ''待出账'' when TT.[SLSTATUS] = ''1'' then ''已出账 待确认'' when TT.[SLSTATUS] = ''2'' then ''已确认待开票'' when TT.[SLSTATUS] = ''3'' then ''已开票待回款'' when TT.[SLSTATUS] = ''4'' then ''已回款待销账'' ELSE ''已销账'' END AS SLSTATUSDIS
          FROM(
          SELECT ROW_NUMBER() OVER(ORDER BY @SortField + @SortType) AS RowId,
		        dt.[SLID]
		      ,dt.[BILLID]
		      ,dt.[UNITID]
		      ,dt.[UNITNM]
		      ,dt.[UNITCHARGE]
		      ,dt.[SLMONTH]
		      ,dt.[TERMS]
		      ,dt.[INITIALSLAMOUNT]
		      ,dt.[ACTIVESLAMOUNT]
		      ,dt.[INVOICEID]
		      ,dt.[INVOICESTATUS]
		      ,dt.[WRITEOFFID]
		      ,dt.[SLSTATUS]
		       from
		      (
		      SELECT distinct slm.[SLID]
			        ,slm.[BILLID]
			        ,slm.[UNITID]
			        ,slm.[UNITNM]
			        ,slm.[UNITCHARGE]
			        ,slm.[SLMONTH]
			        ,slm.[TERMS]
			        ,slm.[INITIALSLAMOUNT]
			        ,slm.[ACTIVESLAMOUNT]
			        ,slm.[INVOICEID]
			        ,slm.[INVOICESTATUS]
			        ,slm.[WRITEOFFID]
			        ,slm.[SLSTATUS]
			        ,slm.[CREATETIME]
		        FROM [dbo].[SettlementManager] slm
		        left join [dbo].[LiquidateItem] lit on slm.SLID=lit.SLID
		        '+@WhereSql+N'
		      ) dt    
          ) TT
          WHERE TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

          SET @CountSql = N'SELECT @TotalCount=COUNT(distinct slm.[SLID]) FROM [dbo].[SettlementManager] slm
		        left join [dbo].[LiquidateItem] lit on slm.SLID=lit.SLID '+@WhereSql

          EXEC sp_executesql @SelectSql,
          N'@UnitID NVARCHAR(50),
            @UnitName NVARCHAR(50),
            @HotelID NVARCHAR(30),
            @HotelGroup NVARCHAR(30),
            @CityID NVARCHAR(30),
            @UnitCharge NVARCHAR(30),
            @SaveUser NVARCHAR(30),
            @OrderID NVARCHAR(30),
            @SlMonth NVARCHAR(20),
            @SlStatus NVARCHAR(10),
            @BillID NVARCHAR(30),
            @SortType NVARCHAR(100),
            @SortField NVARCHAR(100),
            @PageSize INT,
            @PageCurrent INT',
            @UnitID,
            @UnitName,
            @HotelID,
            @HotelGroup,
            @CityID,
            @UnitCharge,
            @SaveUser,
            @OrderID,
            @SlMonth,
            @SlStatus,
            @BillID,
            @SortType,
            @SortField,
            @PageSize,
            @PageCurrent
  
          EXEC sp_executesql @CountSql,
          N'@UnitID NVARCHAR(50),
            @UnitName NVARCHAR(50),
            @HotelID NVARCHAR(30),
            @HotelGroup NVARCHAR(30),
            @CityID NVARCHAR(30),
            @UnitCharge NVARCHAR(30),
            @SaveUser NVARCHAR(30),
            @OrderID NVARCHAR(30),
            @SlMonth NVARCHAR(20),
            @SlStatus NVARCHAR(10),
            @BillID NVARCHAR(30),
            @TotalCount INT OUTPUT',
            @UnitID,
            @UnitName,
            @HotelID,
            @HotelGroup,
            @CityID,
            @UnitCharge,
            @SaveUser,
            @OrderID,
            @SlMonth,
            @SlStatus,
            @BillID,
            @TotalCount OUTPUT
      ]]>
    </commandText>
    <parameters>
      <param name="@UnitID" dbType="String" />
      <param name="@UnitName" dbType="String" />
      <param name="@HotelID" dbType="String"/>
      <param name="@HotelGroup" dbType="String" />
      <param name="@CityID" dbType="String" />
      <param name="@UnitCharge" dbType="String" />
      <param name="@SaveUser" dbType="String" />
      <param name="@OrderID" dbType="String" />
      <param name="@SlMonth" dbType="String" />
      <param name="@SlStatus" dbType="String" />
      <param name="@BillID" dbType="String" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetSLDetial" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT [SLID]
      ,[BILLID]
      ,[SLMONTH]
      ,[INITIALSLAMOUNT]
      ,[ACTIVESLAMOUNT]
      ,[INVOICEID]
      ,[INVOICESTATUS]
      ,[WRITEOFFID]
      ,[BILLCONFIRMUSER]
      ,[BILLCONFIRMDATE]
      ,[BILLCONFIRMREMARK]
      ,[HAIRCUTSCONFIRMUSER]
      ,[HAIRCUTSCONFIRMDATE]
      ,[HAIRCUTSCONFIRMAMOUNT]
      ,[HAIRCUTSCONFIRMREMARK]
      ,[SLSTATUS]
      ,[STATUS]
      ,[SAVEUSER]
      ,[UNITCHARGE]
      ,[UNITID]
      ,[UNITNM]
      ,[INVOICE_NAME]
      ,[TERMS]
      ,[TERM_STDT]
      ,[HOTEL_TAX]
      ,[SETTLEMENT_ADDRESS]
      ,[SETTLEMENT_PER]
      ,[SETTLEMENT_TEL]
      ,[SETTLEMENT_FAX]
      ,[SETTLEMENT_SALES]
      ,[BILL_ITEM]
      ,[HOTEL_TAXNO]
      ,[HOTEL_PAYNO]
      ,[CREATEUSER]
      ,[CREATETIME]
      ,[UPDATEUSER]
      ,[UPDATETIME]
      FROM [dbo].[SettlementManager]
      where SLID=@SLID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetLiquidateMonthOrder" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT [SLID]
          ,[LIQUIDATIONID]
          ,[LIQUIDATIONTYPE]
          ,[ADJUSTNM]
          ,[SLAMOUNT]
          ,[REMARK]
          ,[ORDERID]
          ,[CITYID]
          ,[CITYNM]
          ,[HOTELID]
          ,[HOTELNM]
          ,[GROUPID]
          ,[GROUPNM]
          ,[ROOMID]
          ,[ROOMNM]
          ,[ROOMNUM]
          ,[GUESTNM]
          ,[INDATE]
          ,[OUTDATE]
          ,[TOTALAMOUNT]
          ,[ISNEXTMONTH]
          ,[INTOMONTH]
          ,[NEXTTIMES]
          ,[STATUS]
          ,[CREATEUSER]
          ,[CREATETIME]
          ,[UPDATEUSER]
          ,[UPDATETIME]
      FROM [dbo].[LiquidateItem]
      where SLID=@SLID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetLiquidateHisOrder" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
          SELECT lit.[SLID]
          ,lit.[LIQUIDATIONID]
          ,lit.[LIQUIDATIONTYPE]
          ,lit.[ADJUSTNM]
          ,lit.[SLAMOUNT]
          ,lit.[REMARK]
          ,lit.[ORDERID]
          ,lit.[CITYID]
          ,lit.[CITYNM]
          ,lit.[HOTELID]
          ,lit.[HOTELNM]
          ,lit.[GROUPID]
          ,lit.[GROUPNM]
          ,lit.[ROOMID]
          ,lit.[ROOMNM]
          ,lit.[ROOMNUM]
          ,lit.[GUESTNM]
          ,lit.[INDATE]
          ,lit.[OUTDATE]
          ,lit.[TOTALAMOUNT]
          ,lit.[ISNEXTMONTH]
          ,lit.[INTOMONTH]
          ,lit.[NEXTTIMES]
          ,lit.[STATUS]
          ,lit.[CREATEUSER]
          ,lit.[CREATETIME]
          ,lit.[UPDATEUSER]
          ,lit.[UPDATETIME]
      FROM [dbo].[LiquidateItem] lit
      inner join dbo.SettlementManager stm on lit.SLID=stm.SLID
      where stm.SLID<>@SLID and lit.[ISNEXTMONTH]='1' and lit.[INTOMONTH]=@INTOMONTH and stm.UNITID=@UnitID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@UnitID" dbType="String" />
      <param name="@IntoMonth" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetLiquidateHisAmount" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT stm.[SLID]
      ,stm.[SETTLEID]
      ,stm.[SETTLETYPE]
      ,stm.[ADJUSTNM]
      ,stm.[ADJUSTAMOUNT]
      ,stm.[REMARK]
      ,stm.[HAIRCUTSCONFIRMUSER]
      ,stm.[HAIRCUTSCONFIRMDATE]
      ,stm.[HAIRCUTSCONFIRMAMOUNT]
      ,stm.[STATUS]
      ,stm.[CREATEUSER]
      ,stm.[CREATETIME]
      ,stm.[UPDATEUSER]
      ,stm.[UPDATETIME]
      FROM [dbo].[SettlementItem] sit
      inner join dbo.SettlementManager stm on sit.SLID=stm.SLID
      where stm.SLID<>@SLID AND sit.[STATUS]='0' and stm.UNITID=@UnitID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@UnitID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SaveLiquidate" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
      update dbo.SettlementManager
      set BILLCONFIRMUSER=@BillConfirmUser,
      BILLCONFIRMDATE=getdate(),
      BILLCONFIRMREMARK=@BillConfirmRemark,
      UNITREMARK=@UnitRemark,
      SAVEUSER=@OPEUser,
      UPDATEUSER=@OPEUser,
      UPDATETIME=getdate()
      where SLID=@SLID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@BillConfirmUser" dbType="String" />
      <param name="@BillConfirmRemark" dbType="String" />
      <param name="@UnitRemark" dbType="String" />
      <param name="@OPEUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ApproveLiquidate" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
      update dbo.SettlementManager
      set BILLCONFIRMUSER=@BillConfirmUser,
      BILLCONFIRMDATE=getdate(),
      BILLCONFIRMREMARK=@BillConfirmRemark,
      UNITREMARK=@UnitRemark,
      SLSTATUS = '2',
      UPDATEUSER=@OPEUser,
      UPDATETIME=getdate()
      where SLID=@SLID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@BillConfirmUser" dbType="String" />
      <param name="@BillConfirmRemark" dbType="String" />
      <param name="@UnitRemark" dbType="String" />
      <param name="@OPEUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="AddLiquidateAdjust" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [dbo].[LiquidateItem]
      ([SLID]
      ,[LIQUIDATIONTYPE]
      ,[ADJUSTNM]
      ,[SLAMOUNT]
      ,[REMARK]
      ,[ORDERID]
      ,[CITYID]
      ,[CITYNM]
      ,[HOTELID]
      ,[HOTELNM]
      ,[GROUPID]
      ,[GROUPNM]
      ,[ROOMID]
      ,[ROOMNM]
      ,[ROOMNUM]
      ,[GUESTNM]
      ,[INDATE]
      ,[OUTDATE]
      ,[TOTALAMOUNT]
      ,[ISNEXTMONTH]
      ,[INTOMONTH]
      ,[NEXTTIMES]
      ,[STATUS]
      ,[CREATEUSER]
      ,[CREATETIME]
      ,[UPDATEUSER]
      ,[UPDATETIME])
      VALUES
      (@SLID
      ,@LIQUIDATIONTYPE
      ,@ADJUSTNM
      ,@SLAMOUNT
      ,@REMARK
      ,@ORDERID
      ,@CITYID
      ,@CITYNM
      ,@HOTELID
      ,@HOTELNM
      ,@GROUPID
      ,@GROUPNM
      ,@ROOMID
      ,@ROOMNM
      ,@ROOMNUM
      ,@GUESTNM
      ,@INDATE
      ,@OUTDATE
      ,@TOTALAMOUNT
      ,@ISNEXTMONTH
      ,@INTOMONTH
      ,@NEXTTIMES
      ,@STATUS
      ,@CREATEUSER
      ,getdate()
      ,@CREATEUSER
      ,getdate())
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@LIQUIDATIONTYPE" dbType="String"/>
      <param name="@ADJUSTNM" dbType="String" />
      <param name="@SLAMOUNT" dbType="String" />
      <param name="@REMARK" dbType="String" />
      <param name="@ORDERID" dbType="String" />
      <param name="@CITYID" dbType="String" />
      <param name="@CITYNM" dbType="String" />
      <param name="@HOTELID" dbType="String"/>
      <param name="@HOTELNM" dbType="String" />
      <param name="@GROUPID" dbType="String" />
      <param name="@GROUPNM" dbType="String" />
      <param name="@ROOMID" dbType="String" />
      <param name="@ROOMNM" dbType="String" />
      <param name="@ROOMNUM" dbType="String" />
      <param name="@GUESTNM" dbType="String"/>
      <param name="@INDATE" dbType="String" />
      <param name="@OUTDATE" dbType="String" />
      <param name="@TOTALAMOUNT" dbType="String" />
      <param name="@ISNEXTMONTH" dbType="String" />
      <param name="@INTOMONTH" dbType="String" />
      <param name="@NEXTTIMES" dbType="String" />
      <param name="@STATUS" dbType="String" />
      <param name="@CREATEUSER" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ModifyLiquidateAdjust" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [dbo].[LiquidateItem]
      set 
      [HOTELID]=@HOTELID
      ,[HOTELNM]=@HOTELNM
      ,[ROOMID]=@ROOMID
      ,[ROOMNM]=@ROOMNM
      ,[ROOMNUM]=@ROOMNUM
      ,[GUESTNM]=@GUESTNM
      ,[INDATE]=@INDATE
      ,[OUTDATE]=@OUTDATE
      ,[TOTALAMOUNT]=@TOTALAMOUNT
      ,[SLAMOUNT]=@SLAMOUNT
      ,[REMARK]=@REMARK
      ,[UPDATEUSER]=@OPEUSER
      ,[UPDATETIME]=getdate()
      where 
      SLID=@ and LIQUIDATIONID=@LIQUIDATIONID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@LIQUIDATIONID" dbType="String"/>
      <param name="@SLAMOUNT" dbType="String" />
      <param name="@REMARK" dbType="String" />
      <param name="@HOTELID" dbType="String"/>
      <param name="@HOTELNM" dbType="String" />
      <param name="@ROOMID" dbType="String" />
      <param name="@ROOMNM" dbType="String" />
      <param name="@ROOMNUM" dbType="String" />
      <param name="@GUESTNM" dbType="String"/>
      <param name="@INDATE" dbType="String" />
      <param name="@OUTDATE" dbType="String" />
      <param name="@TOTALAMOUNT" dbType="String" />
      <param name="@OPEUSER" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="MoveMonthAdjust" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [dbo].[LiquidateItem]
      set 
      [ISNEXTMONTH]=@ISNEXTMONTH
      ,INTOMONTH=@INTOMONTH
      ,NEXTTIMES=@NEXTTIMES
      ,[REMARK]=@REMARK
      ,[UPDATEUSER]=@OPEUSER
      ,[UPDATETIME]=getdate()
      where 
      SLID=@ and LIQUIDATIONID=@LIQUIDATIONID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@LIQUIDATIONID" dbType="String"/>
      <param name="@REMARK" dbType="String" />
      <param name="@ISNEXTMONTH" dbType="String"/>
      <param name="@INTOMONTH" dbType="String" />
      <param name="@OPEUSER" dbType="String" />
      <param name="@NEXTTIMES" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetOrderLiquidateDetail" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT lit.[SLID]
            ,lit.[LIQUIDATIONID]
            ,lit.[LIQUIDATIONTYPE]
            ,lit.[ADJUSTNM]
            ,lit.[SLAMOUNT]
            ,lit.[REMARK]
            ,lit.[ORDERID]
            ,lit.[CITYID]
            ,lit.[CITYNM]
            ,lit.[HOTELID]
            ,lit.[HOTELNM]
            ,lit.[GROUPID]
            ,lit.[GROUPNM]
            ,lit.[ROOMID]
            ,lit.[ROOMNM]
            ,lit.[ROOMNUM]
            ,lit.[GUESTNM]
            ,lit.[INDATE]
            ,lit.[OUTDATE]
            ,lit.[TOTALAMOUNT]
            ,lit.[ISNEXTMONTH]
            ,lit.[INTOMONTH]
            ,lit.[NEXTTIMES]
            ,lit.[STATUS]
            ,lit.[CREATEUSER]
            ,lit.[CREATETIME]
            ,lit.[UPDATEUSER]
            ,lit.[UPDATETIME]
            ,slm.SLMONTH
        FROM [dbo].[LiquidateItem] lit 
        inner join dbo.SettlementManager slm 
        WHERE
        lit.[SLID]=@SLID AND lit.[LIQUIDATIONID]=@LIQUIDATIONID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@LIQUIDATIONID" dbType="String"/>
    </parameters>
  </dataCommand>

  <dataCommand name="ChkIsOrderMonthApproved" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
    SELECT [SLID]
          ,[UNITID]
          ,[UNITNM]
          ,[UNITCHARGE]
          ,[SLMONTH]
          ,[SLSTATUS]
      FROM [dbo].[SettlementManager]
      WHERE [UNITID]=@UNITID AND [SLMONTH]=@SLMONTH AND [SLSTATUS] = '4'
      ]]>
    </commandText>
    <parameters>
      <param name="@UNITID" dbType="String" />
      <param name="@SLMONTH" dbType="String"/>
    </parameters>
  </dataCommand>

</dataOperations>
