<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  
  <dataCommand name="GetInvoiceList" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
          DECLARE @SelectSql NVARCHAR(2000)
          DECLARE @CountSql NVARCHAR(2000)
          DECLARE @WhereSql NVARCHAR(2000)

          IF LEN(@SortField)=0 
	          SET @SortField = N'dt.CREATETIME' 
	      IF LEN(@SortType)=0 
	          SET @SortType = N'DESC' 

          SET @WhereSql=N'WHERE 1=1'
          IF LEN(@UnitName) > 0
          SET @WhereSql = @WhereSql + N' AND slm.UNITNM like LIKE @UnitName'
           IF LEN(@HotelID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.HOTELID = @HotelID'
           IF LEN(@HotelGroup) > 0
          SET @WhereSql =@WhereSql + N' AND lit.GROUPID = @HotelGroup'
           IF LEN(@CityID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.CITYID = @CityID'
           IF LEN(@UnitCharge) > 0
          SET @WhereSql =@WhereSql + N' AND lit.UNITCHARGE = @UnitCharge'
           IF LEN(@OrderID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.ORDERID = @OrderID'
          IF LEN(@SlMonth) > 0
          SET @WhereSql =@WhereSql + N' AND slm.SLMONTH = @SlMonth'
          IF LEN(@InvoiceStatus) > 0
          SET @WhereSql =@WhereSql + N' AND slm.INVOICESTATUS = @InvoiceStatus'

          SET @SelectSql=N'
          SELECT 
	          TT.[SLID]
		      ,TT.[BILLID]
		      ,TT.[UNITID]
		      ,TT.[UNITNM]
		      ,TT.[UNITCHARGE]
		      ,TT.[SLMONTH]
		      ,TT.[TERMS]
		      ,TT.[INITIALSLAMOUNT]
		      ,TT.[ACTIVESLAMOUNT]
		      ,TT.[INVOICEID]
		      ,TT.[INVOICESTATUS]
		      ,TT.[COLLECTID]
		      ,TT.[SLSTATUS]
          ,CASE WHEN TT.[SLSTATUS] = ''0'' THEN ''待出账'' when TT.[SLSTATUS] = ''1'' then ''已出账 待确认'' when TT.[SLSTATUS] = ''2'' then ''已确认待开票'' when TT.[SLSTATUS] = ''3'' then ''已开票待回款'' when TT.[SLSTATUS] = ''4'' then ''已回款待销账'' ELSE ''已销账'' END AS SLSTATUSDIS
          ,TT.INVOICENUM
          ,TT.ZIPNUM
          FROM(
          SELECT ROW_NUMBER() OVER(ORDER BY @SortField + @SortType) AS RowId,
		        dt.[SLID]
		      ,dt.[BILLID]
		      ,dt.[UNITID]
		      ,dt.[UNITNM]
		      ,dt.[UNITCHARGE]
		      ,dt.[SLMONTH]
		      ,dt.[TERMS]
		      ,dt.[INITIALSLAMOUNT]
		      ,dt.[ACTIVESLAMOUNT]
		      ,dt.[INVOICEID]
		      ,dt.[INVOICESTATUS]
		      ,dt.[COLLECTID]
		      ,dt.[SLSTATUS]
          ,dt.INVOICENUM
          ,dt.ZIPNUM
		       from
		      (
		      SELECT distinct slm.[SLID]
			        ,slm.[BILLID]
			        ,slm.[UNITID]
			        ,slm.[UNITNM]
			        ,slm.[UNITCHARGE]
			        ,slm.[SLMONTH]
			        ,slm.[TERMS]
			        ,slm.[INITIALSLAMOUNT]
			        ,slm.[ACTIVESLAMOUNT]
			        ,slm.[INVOICEID]
			        ,slm.[INVOICESTATUS]
			        ,slm.[COLLECTID]
			        ,slm.[SLSTATUS]
			        ,slm.[CREATETIME]
              ,ich.INVOICENUM
              ,ich.ZIPNUM
		        FROM [dbo].[SettlementManager] slm
		        left join [dbo].[InvoiceHis] ich on slm.INVOICEID=ich.INVOICEID AND ich.status=''1''
		        '+@WhereSql+N'
		      ) dt    
          ) TT
          WHERE TT.RowId > @PageSize*@PageCurrent and TT.RowId <= (@PageCurrent+1)*@PageSize'

          SET @CountSql = N'SELECT @TotalCount=COUNT(distinct slm.[SLID]) FROM FROM [dbo].[SettlementManager] slm
		        left join [dbo].[InvoiceHis] lit ich on slm.INVOICEID=ich.INVOICEID AND ich.status=''1'' '+@WhereSql

          EXEC sp_executesql @SelectSql,
          N'@UnitName NVARCHAR(50),
            @HotelID NVARCHAR(30),
            @HotelGroup NVARCHAR(30),
            @CityID NVARCHAR(30),
            @UnitCharge NVARCHAR(30),
            @OrderID NVARCHAR(30),
            @SlMonth NVARCHAR(20),
            @InvoiceStatus NVARCHAR(10),
            @SortType NVARCHAR(100),
            @SortField NVARCHAR(100),
            @PageSize INT,
            @PageCurrent INT',
            @UnitName,
            @HotelID,
            @HotelGroup,
            @CityID,
            @UnitCharge,
            @OrderID,
            @SlMonth,
            @EndDTime,
            @InvoiceStatus,
            @SortType,
            @SortField,
            @PageSize,
            @PageCurrent
  
          EXEC sp_executesql @CountSql,
          N'@UnitName NVARCHAR(50),
            @HotelID NVARCHAR(30),
            @HotelGroup NVARCHAR(30),
            @CityID NVARCHAR(30),
            @UnitCharge NVARCHAR(30),
            @OrderID NVARCHAR(30),
            @SlMonth NVARCHAR(20),
            @InvoiceStatus NVARCHAR(10),
            @TotalCount INT OUTPUT',
            @UnitName,
            @HotelID,
            @HotelGroup,
            @CityID,
            @UnitCharge,
            @OrderID,
            @SlMonth,
            @EndDTime,
            @InvoiceStatus,
            @TotalCount OUTPUT
      ]]>
    </commandText>
    <parameters>
      <param name="@UnitName" dbType="String" />
      <param name="@HotelID" dbType="String"/>
      <param name="@HotelGroup" dbType="String" />
      <param name="@CityID" dbType="String" />
      <param name="@UnitCharge" dbType="String" />
      <param name="@OrderID" dbType="String" />
      <param name="@SlMonth" dbType="String" />
      <param name="@InvoiceStatus" dbType="String" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="ExportUnOpenInvoiceList" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
          DECLARE @SelectSql NVARCHAR(2000)
          DECLARE @WhereSql NVARCHAR(2000)

          IF LEN(@SortField)=0 
	          SET @SortField = N'dt.CREATETIME' 
	      IF LEN(@SortType)=0 
	          SET @SortType = N'DESC' 

          SET @WhereSql=N'WHERE 1=1'
          IF LEN(@UnitName) > 0
          SET @WhereSql = @WhereSql + N' AND slm.UNITNM like LIKE @UnitName'
           IF LEN(@HotelID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.HOTELID = @HotelID'
           IF LEN(@HotelGroup) > 0
          SET @WhereSql =@WhereSql + N' AND lit.GROUPID = @HotelGroup'
           IF LEN(@CityID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.CITYID = @CityID'
           IF LEN(@UnitCharge) > 0
          SET @WhereSql =@WhereSql + N' AND lit.UNITCHARGE = @UnitCharge'
           IF LEN(@OrderID) > 0
          SET @WhereSql =@WhereSql + N' AND lit.ORDERID = @OrderID'
          IF LEN(@SlMonth) > 0
          SET @WhereSql =@WhereSql + N' AND slm.SLMONTH = @SlMonth'
          IF LEN(@InvoiceStatus) > 0
          SET @WhereSql =@WhereSql + N' AND slm.INVOICESTATUS = @InvoiceStatus'

          SET @SelectSql=N'
          SELECT 
	          TT.[SLID]
		      ,TT.[BILLID]
		      ,TT.[UNITID]
		      ,TT.[UNITNM]
		      ,TT.[UNITCHARGE]
		      ,TT.[SLMONTH]
		      ,TT.[TERMS]
		      ,TT.[INITIALSLAMOUNT]
		      ,TT.[ACTIVESLAMOUNT]
		      ,TT.[INVOICEID]
		      ,TT.[INVOICESTATUS]
		      ,TT.[COLLECTID]
		      ,TT.[SLSTATUS]
          ,CASE WHEN TT.[SLSTATUS] = ''0'' THEN ''待出账'' when TT.[SLSTATUS] = ''1'' then ''已出账 待确认'' when TT.[SLSTATUS] = ''2'' then ''已确认待开票'' when TT.[SLSTATUS] = ''3'' then ''已开票待回款'' when TT.[SLSTATUS] = ''4'' then ''已回款待销账'' ELSE ''已销账'' END AS SLSTATUSDIS
          ,TT.INVOICENUM
          ,TT.ZIPNUM
          FROM(
          SELECT ROW_NUMBER() OVER(ORDER BY @SortField + @SortType) AS RowId,
		        dt.[SLID]
		      ,dt.[BILLID]
		      ,dt.[UNITID]
		      ,dt.[UNITNM]
		      ,dt.[UNITCHARGE]
		      ,dt.[SLMONTH]
		      ,dt.[TERMS]
		      ,dt.[INITIALSLAMOUNT]
		      ,dt.[ACTIVESLAMOUNT]
		      ,dt.[INVOICEID]
		      ,dt.[INVOICESTATUS]
		      ,dt.[COLLECTID]
		      ,dt.[SLSTATUS]
          ,dt.INVOICENUM
          ,dt.ZIPNUM
		       from
		      (
		      SELECT distinct slm.[SLID]
			        ,slm.[BILLID]
			        ,slm.[UNITID]
			        ,slm.[UNITNM]
			        ,slm.[UNITCHARGE]
			        ,slm.[SLMONTH]
			        ,slm.[TERMS]
			        ,slm.[INITIALSLAMOUNT]
			        ,slm.[ACTIVESLAMOUNT]
			        ,slm.[INVOICEID]
			        ,slm.[INVOICESTATUS]
			        ,slm.[COLLECTID]
			        ,slm.[SLSTATUS]
			        ,slm.[CREATETIME]
              ,ich.INVOICENUM
              ,ich.ZIPNUM
		        FROM [dbo].[SettlementManager] slm
		        left join [dbo].[InvoiceHis] ich on slm.INVOICEID=ich.INVOICEID AND ich.status=''1''
		        '+@WhereSql+N'
		      ) dt    
          ) TT'

          EXEC sp_executesql @SelectSql,
          N'@UnitName NVARCHAR(50),
            @HotelID NVARCHAR(30),
            @HotelGroup NVARCHAR(30),
            @CityID NVARCHAR(30),
            @UnitCharge NVARCHAR(30),
            @OrderID NVARCHAR(30),
            @SlMonth NVARCHAR(20),
            @InvoiceStatus NVARCHAR(10)',
            @UnitName,
            @HotelID,
            @HotelGroup,
            @CityID,
            @UnitCharge,
            @OrderID,
            @SlMonth,
            @EndDTime,
            @InvoiceStatus
      ]]>
    </commandText>
    <parameters>
      <param name="@UnitName" dbType="String" />
      <param name="@HotelID" dbType="String"/>
      <param name="@HotelGroup" dbType="String" />
      <param name="@CityID" dbType="String" />
      <param name="@UnitCharge" dbType="String" />
      <param name="@OrderID" dbType="String" />
      <param name="@SlMonth" dbType="String" />
      <param name="@InvoiceStatus" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ImportOpenInvoiceList" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[

      ]]>
    </commandText>
    <parameters>
      <param name="@" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ConfirmInvoiceDetail" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [dbo].[InvoiceHis]
           ([SLID]
           ,[INVOICENM]
           ,[INVOICEPROJECT]
           ,[INVOICEAMOUNT]
           ,[ZIPADDRESS]
           ,[INVOICENUM]
           ,[ISREOPEN]
           ,[REOPENREASON]
           ,[OLDINVOICENUM]
           ,[ZIPNUM]
           ,[ISREZIP]
           ,[OLDZIPNUM]
           ,[STATUS]
           ,[CREATEUSER]
           ,[CREATETIME]
           ,[UPDATEUSER]
           ,[UPDATETIME])
     VALUES
           (@SLID
           ,@INVOICENM
           ,@INVOICEPROJECT
           ,@INVOICEAMOUNT
           ,@ZIPADDRESS
           ,@INVOICENUM
           ,'0'
           ,''
           ,''
           ,@ZIPNUM
           ,'0'
           ,''
           ,'1'
           ,@CREATEUSER
           ,getdate()
           ,@CREATEUSER
           ,getdate())
      SET @InvoiceID = SCOPE_IDENTITY()
      ]]>
    </commandText>
    <parameters>
      <param name="@InvoiceID" dbType="Int32" direction="Output" />
      <param name="@SLID" dbType="String" />
      <param name="@INVOICENM" dbType="String" />
      <param name="@INVOICEPROJECT" dbType="String" />
      <param name="@INVOICEAMOUNT" dbType="String" />
      <param name="@ZIPADDRESS" dbType="String" />
      <param name="@INVOICENUM" dbType="String" />
      <param name="@ZIPNUM" dbType="String" />
      <param name="@CREATEUSER" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateSLInvoiceNum" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [dbo].[SettlementManager]
         SET 
            [INVOICEID] = @INVOICEID
            ,[INVOICESTATUS] = @INVOICESTATUS
            ,[UPDATEUSER] = @OPEUSER
            ,status='3'
            ,UPDATETIME=getdate()
       WHERE SLID=@SLID
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@INVOICEID" dbType="String" />
      <param name="@INVOICESTATUS" dbType="String" />
      <param name="@OPEUSER" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="UpdateSLInvoiceList" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [SELT].[dbo].[InvoiceHis]
         SET 
            [STATUS] = '0'
            ,[UPDATEUSER] = @OPEUSER
            ,[UPDATETIME] = getdate()
       WHERE [SLID] = @SLID and [STATUS] = '1'
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@OPEUSER" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetConfirmInvoiceDetail" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT  [SLID]
          ,[INVOICEID]
          ,[INVOICENM]
          ,[INVOICEPROJECT]
          ,[INVOICEAMOUNT]
          ,[ZIPADDRESS]
          ,[INVOICENUM]
          ,[ISREOPEN]
          ,[REOPENREASON]
          ,[OLDINVOICENUM]
          ,[ZIPNUM]
          ,[ISREZIP]
          ,[OLDZIPNUM]
          ,[STATUS]
          ,[CREATEUSER]
          ,[CREATETIME]
          ,[UPDATEUSER]
          ,[UPDATETIME]
      FROM [dbo].[InvoiceHis]
      where [SLID]=@SLID and [INVOICEID] = @INVOICEID AND [STATUS]='1'
      ]]>
    </commandText>
    <parameters>
      <param name="@SLID" dbType="String" />
      <param name="@INVOICEID" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="ReConfirmInvoiceDetail" database="SELT" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [SELT].[dbo].[InvoiceHis]
           ([SLID]
           ,[INVOICENM]
           ,[INVOICEPROJECT]
           ,[INVOICEAMOUNT]
           ,[ZIPADDRESS]
           ,[INVOICENUM]
           ,[ISREOPEN]
           ,[REOPENREASON]
           ,[OLDINVOICENUM]
           ,[ZIPNUM]
           ,[ISREZIP]
           ,[OLDZIPNUM]
           ,[STATUS]
           ,[CREATEUSER]
           ,[CREATETIME]
           ,[UPDATEUSER]
           ,[UPDATETIME])
     VALUES
           (@SLID
           ,@INVOICENM
           ,@INVOICEPROJECT
           ,@INVOICEAMOUNT
           ,@ZIPADDRESS
           ,@INVOICENUM
           ,@ISREOPEN
           ,@REOPENREASON
           ,@OLDINVOICENUM
           ,@ZIPNUM
           ,@ISREZIP
           ,@OLDZIPNUM
           ,'1'
           ,@CREATEUSER
           ,getdate()
           ,@CREATEUSER
           ,getdate())
    SET @InvoiceID = SCOPE_IDENTITY()
          ]]>
    </commandText>
    <parameters>
      <param name="@InvoiceID" dbType="Int32" direction="Output" />
      <param name="@SLID" dbType="String" />
      <param name="@INVOICENM" dbType="String" />
      <param name="@INVOICEPROJECT" dbType="String" />
      <param name="@INVOICEAMOUNT" dbType="String" />
      <param name="@ZIPADDRESS" dbType="String" />
      <param name="@INVOICENUM" dbType="String" />
      <param name="@ISREOPEN" dbType="String" />
      <param name="@REOPENREASON" dbType="String" />
      <param name="@OLDINVOICENUM" dbType="String" />
      <param name="@ZIPNUM" dbType="String" />
      <param name="@ISREZIP" dbType="String" />
      <param name="@OLDZIPNUM" dbType="String" />
      <param name="@CREATEUSER" dbType="String" />
    </parameters>
  </dataCommand>
  
</dataOperations>
