<?xml version="1.0" encoding="utf-8" ?>
<dataCommandFiles xmlns="http://www.hotelvp.com/DbCommandFiles">
  <file name="DataCommand_Common.config" />
  <file name="DataCommand_Security.config" />
  <file name="DataCommand_HotelInfo.config" />
  <file name="DataCommand_Liquidate.config" />
  <file name="DataCommand_Invoice.config" />
  <file name="DataCommand_Settle.config" />
</dataCommandFiles>