<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="GetEventHistoryList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
   DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @CountSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)

    IF LEN(@SortField)=0 
	    SET @SortField = N'CL.CREATEDATE' 
	IF LEN(@SortType)=0 
	    SET @SortType = N'DESC' 

    SET @WhereSql=N'WHERE 1=1'
    IF LEN(@USERID) > 0
    SET @WhereSql = @WhereSql + N' AND CL.USERID LIKE @USERID'
     IF LEN(@USERNAME) > 0
    SET @WhereSql =@WhereSql + N' AND CL.USERNAME LIKE @USERNAME'
     IF LEN(@IPADDRESS) > 0
    SET @WhereSql =@WhereSql + N' AND CL.IPADDRESS LIKE @IPADDRESS'
     IF LEN(@EVENTTYPE) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_TYPE LIKE @EVENTTYPE'
     IF LEN(@EVENTID) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_ID LIKE @EVENTID'
     IF LEN(@EVENTCONTENT) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_CONTENT LIKE @EVENTCONTENT'
     IF LEN(@EVENTRESULT) > 0
    SET @WhereSql =@WhereSql + N' AND CL.EVENT_RESULT LIKE @EVENTRESULT'
    
    IF LEN(@StartDTime) > 0
    SET @WhereSql =N' AND CAST(' +@StartDTime +' AS DATE) <= CL.CREATEDATE'
    IF LEN(@EndDTime) > 0
    SET @WhereSql =N' AND CL.CREATEDATE <= CAST(' +@EndDTime +' AS DATE)
    
    SET @SelectSql=N'
    SELECT 
	     TT.RowId
	    ,TT.[USERID]
      ,TT.[USERNAME]
      ,TT.[IPADDRESS]
      ,TT.[DATETIME]
      ,TT.[EVENT_TYPE]
      ,TT.[EVENT_ID]
      ,TT.[EVENT_CONTENT]
      ,TT.[EVENT_RESULT]
    FROM(
    SELECT ROW_NUMBER() OVER(ORDER BY @SortField + @SortType) AS RowId
		  ,CL.[USERID]
      ,CL.[USERNAME]
      ,CL.[IPADDRESS]
      ,CL.[DATETIME]
      ,CL.[EVENT_TYPE]
      ,CL.[EVENT_ID]
      ,CL.[EVENT_CONTENT]
      ,CL.[EVENT_RESULT]
		  FROM [CMS].[dbo].[WebSiteEvent_History] CL
    '+@WhereSql+N'
    )TT 
    WHERE TT.RowId > @PageSize*@PageCurrent'

    SET @CountSql = N'SELECT @TotalCount=COUNT(CL.nid) FROM [CMS].[dbo].[WebSiteEvent_History] CL'+@WhereSql

    EXEC sp_executesql @SelectSql,
    N'@USERID NVARCHAR(50),
      @USERNAME NVARCHAR(255),
      @IPADDRESS NVARCHAR(50),
      @EVENTTYPE NVARCHAR(255),
      @EVENTID NVARCHAR(50),
      @EVENTCONTENT NVARCHAR(MAX),
      @EVENTRESULT NVARCHAR(1024),
      @StartDTime NVARCHAR(100),
      @EndDTime NVARCHAR(100),
      @SortType NVARCHAR(100),
      @SortField NVARCHAR(100),
      @PageSize INT,
      @PageCurrent INT',
      @USERID,
      @USERNAME,
      @IPADDRESS,
      @EVENTTYPE,
      @EVENTID,
      @EVENTCONTENT,
      @EVENTRESULT,
      @StartDTime,
      @EndDTime,
      @SortType,
      @SortField,
      @PageSize,
      @PageCurrent
  
    EXEC sp_executesql @CountSql,
    N'@USERID NVARCHAR(50),
      @USERNAME NVARCHAR(255),
      @IPADDRESS NVARCHAR(50),
      @EVENTTYPE NVARCHAR(255),
      @EVENTID NVARCHAR(50),
      @EVENTCONTENT NVARCHAR(MAX),
      @EVENTRESULT NVARCHAR(1024),
      @StartDTime NVARCHAR(100),
      @EndDTime NVARCHAR(100),
      @TotalCount INT OUTPUT',
      @USERID,
      @USERNAME,
      @IPADDRESS,
      @EVENTTYPE,
      @EVENTID,
      @EVENTCONTENT,
      @EVENTRESULT,
      @StartDTime,
      @EndDTime,
      @TotalCount OUTPUT
      ]]>
    </commandText>
    <parameters>
      <param name="@USERID" dbType="String" />
      <param name="@USERNAME" dbType="String"/>
      <param name="@IPADDRESS" dbType="String" />
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTID" dbType="String" />
      <param name="@EVENTCONTENT" dbType="String" />
      <param name="@EVENTRESULT" dbType="String" />
      <param name="@StartDTime" dbType="String" />
      <param name="@EndDTime" dbType="String" />
      <param name="@TotalCount" dbType="Int32" direction="Output" />
      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String" />
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32" />
    </parameters>
  </dataCommand>
  <dataCommand name="InsertEventHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[WebSiteEvent_History]
           ([USERID]
           ,[USERNAME]
           ,[IPADDRESS]
           ,[CREATEDATE]
           ,[EVENT_TYPE]
           ,[EVENT_ID]
           ,[EVENT_CONTENT]
           ,[EVENT_RESULT])
     VALUES
           (@USERID
           ,@USERNAME
           ,@IPADDRESS
           ,GETDATE()
           ,@EVENTTYPE
           ,@EVENTID
           ,@EVENTCONTENT
           ,@EVENTRESULT)
      ]]>
    </commandText>
    <parameters>
      <param name="@USERID" dbType="String" />
      <param name="@USERNAME" dbType="String"/>
      <param name="@IPADDRESS" dbType="String" />
      <param name="@EVENTTYPE" dbType="String" />
      <param name="@EVENTID" dbType="String" />
      <param name="@EVENTCONTENT" dbType="String" />
      <param name="@EVENTRESULT" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertEventHistoryContent" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      INSERT INTO [CMS].[dbo].[WebSiteEvent_History]
           (
           [EVENT_ID]
           ,[EVENT_CONTENT])
     VALUES
           ('发送Push信息-JOB异常'
           ,@EVENTCONTENT)
      ]]>
    </commandText>
    <parameters>
      <param name="@EVENTCONTENT" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="SelectConfigList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
    DECLARE @SelectSql NVARCHAR(2000)
    DECLARE @WhereSql NVARCHAR(2000)
    
    SET @WhereSql=N'WHERE 1=1'
       IF LEN(@Type) > 0
    SET @WhereSql = @WhereSql + N' AND [Type] = @Type'
     
     SET @SelectSql=N'
     SELECT [nid]
        ,[DATETIME]
        ,[Type]
        ,[Key]
        ,[Value]
        ,[USERID]
        FROM [CMS].[dbo].[WebSite_SysConfiguration]
    '+@WhereSql
    
    EXEC sp_executesql @SelectSql,
    N'@Type NVARCHAR(50)',
      @Type
      ]]>
    </commandText>
    <parameters>
      <param name="@Type" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="GetSalesManagerList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
      SELECT
      csu.[User_DspName] AS UserName
      FROM [CMS].[dbo].[CMS_SYS_USERS] csu
      inner join [CMS].[dbo].[HotelSalesManager] hsm
      on csu.User_Account=hsm.[User_Account]
      where hsm.[Hotel_ID]=@HotelID
      AND hsm.[Status]='1'
      ]]>
    </commandText>
    <parameters>
      <param name="@HotelID" dbType="String" />
    </parameters>
  </dataCommand>
  
</dataOperations>