<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="cms">
      <section name="globalSettings" type="HotelVp.Common.Configuration.GlobalSettingsSection, HotelVp.Common.DataConfiguration"/>
      <section name="logSettings" type="HotelVp.Common.Configuration.LocalLogManagerSection, HotelVp.Common.DataConfiguration"/>
      <section name="dataAccessSettings" type="HotelVp.Common.Configuration.DataAccessManagerSection, HotelVp.Common.DataConfiguration"/>
    </sectionGroup>
    
  </configSections>

  <cms>
    <globalSettings filePath="D:\CMS_Config\GlobalSettings.config"/>
    <logSettings localRegionName="cms"/>
    <dataAccessSettings DataCommandFile="bin\Configuration\DbCommandFiles.config"/>
  </cms>

  <log4net>
    <!--   
   根节点<root>可以对日志级别进行控制<level value="INFO"/>  
   在这个根节点处可以设置appender列表如：  
   AdoNetAppender_Sql 存入数据库  
   ColoredConsoleAppender 输出到控制台  
   RollingFileAppender 输出到文本文件  
   这里灵活定义，在这里选择INFO级别并且输入到Oracle数据库  
    -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="AdoNetAppender_Sql"/>
    </root>
    <!--  
   这个logger可要可不要，如果不要会默认根节点执行  
   如果配置，会根据配置里面的<level value="INFO"/>  
   到根节点中找到相应级别然后调用appender输出  
   有这个节点的好处，可以程序中通过name="WebLogger"  
   得到用哪一个logger模式控制日志信息  
   -->
    <logger name="WebLogger">
      <level value="ALL"/>
    </logger>
    <logger name="WebDebug">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    <!--  
   输出到文本文件  
   网站根目录Log/log.txt  
   -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/log.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="500"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd hh:mm:ss"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" type="log4net.Util.PatternString" value="[%date]%newline"/>
        <param name="Footer" value=""/>
        <conversionPattern value="%-5level %date %logger - %message%newline"/>
      </layout>
    </appender>
    <!--Oracle数据库-->
    <appender name="AdoNetAppender_Sql" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <!-- Sql Server连接字符串-->
      <connectionString value="server=10.0.0.52;database=CMS;uid=sa;pwd=Sql@123;MultipleActiveResultSets=True;"/>
      <!--  
       Log4net默认数据表中有Datetime,Thread,Log_Level,Logger,Message这五个字段  
       数据库表名Log  
       我们创建数据表时，可以根据自已需求  
       在这里创建的Log表多加userid,username两个字段  
       数据表自已提前在数据库定义好            
       -->
      <commandText value="INSERT INTO WebSite_log (Datetime,Log_Level,Logger,computername,ipaddress,event_id,content,userid,username) VALUES (@log_date, @log_level, @logger,@computername, @ipaddress, @event_id, @content,@userid,@username)"/>
      <!--  
        设置缓存区大小  
        1表明有一条日志就要写入  
        如果10就表示日志到达10条时一起写入  
        -->
      <bufferSize value="1"/>
      <!--默认已有的成员 -->
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <!--自定义成员 -->
      <parameter>
        <parameterName value="@computername"/>
        <dbType value="String"/>
        <size value="255"/>
        <!--  
            CustomLayout类的命名空间由自己定义  
            请注意否则这里找不到定义的字段  
            此例定义命名空间是：Log4Net  
            在这个命名空间下写了一个类CustomLayout  
            用来配置自定义的字段  
            -->
        <layout type="HotelVp.Common.Logger.CustomLayout">
          <conversionPattern value="%computername"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ipaddress"/>
        <dbType value="String"/>
        <size value="255"/>
        <!--  
            CustomLayout类的命名空间由自己定义  
            请注意否则这里找不到定义的字段  
            此例定义命名空间是：Log4Net  
            在这个命名空间下写了一个类CustomLayout  
            用来配置自定义的字段  
            -->
        <layout type="HotelVp.Common.Logger.CustomLayout">
          <conversionPattern value="%ipaddress"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@event_id"/>
        <dbType value="String"/>
        <size value="255"/>
        <!--  
            CustomLayout类的命名空间由自己定义  
            请注意否则这里找不到定义的字段  
            此例定义命名空间是：Log4Net  
            在这个命名空间下写了一个类CustomLayout  
            用来配置自定义的字段  
            -->
        <layout type="HotelVp.Common.Logger.CustomLayout">
          <conversionPattern value="%event_id"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@content"/>
        <dbType value="String"/>
        <size value="255"/>
        <!--  
            CustomLayout类的命名空间由自己定义  
            请注意否则这里找不到定义的字段  
            此例定义命名空间是：Log4Net  
            在这个命名空间下写了一个类CustomLayout  
            用来配置自定义的字段  
            -->
        <layout type="HotelVp.Common.Logger.CustomLayout">
          <conversionPattern value="%content"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userid"/>
        <dbType value="String"/>
        <size value="50"/>
        <!--  
            CustomLayout类的命名空间由自己定义  
            请注意否则这里找不到定义的字段  
            此例定义命名空间是：Log4Net  
            在这个命名空间下写了一个类CustomLayout  
            用来配置自定义的字段  
            -->
        <layout type="HotelVp.Common.Logger.CustomLayout">
          <conversionPattern value="%userid"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@username"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="HotelVp.Common.Logger.CustomLayout">
          <conversionPattern value="%username"/>
        </layout>
      </parameter>
    </appender>
  </log4net>



  <connectionStrings>
    <add name="UserCenterConnectionString" connectionString="server=.;uid=sa;pwd=sql@123;database=UserCenter"/>
    
    
    <add name="ConnectionStringSQL" connectionString="Data Source=10.0.0.52;Initial Catalog=CMS;Integrated Security=false;uid=SA;pwd=Sql@123;Application Name=aaa;" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SELTWAP-20131022173148;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>


    <add key="DataBaseType" value="2"/>
    <!-- 连接字符?(可以扩展支持不同数据?如果是加密方式，下面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,下面设置为false -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="Data Source=tuandb;User=hotelvptest;password=123456;pooling=true;"/>
    <!--<add key="QueryConnectionString" value="Data Source=test_new_lm;User=freez;password=abc2012def;pooling=true;"/>
    <add key="ConnectionString" value="Data Source=test_new_lm;User=freez;password=abc2012def;pooling=true;"/>-->
    <!---SQL Server数据库的连接-->
    <add key="ConnectionStringSQL" value="Data Source=10.0.0.52;Initial Catalog=CMS;Integrated Security=false;uid=SA;pwd=Sql@123;pooling=true;"/>
    <add key="QueryConnectionString" value="Data Source=tuandb;User=hotelvptest;password=123456;pooling=true;"/>
    <!-- SQL XML files Path-->
    <add key="SqlPath" value="Bin\\SqlStr\\"/>
    <add key="SqlType" value=".xml"/>
    <add key="SqlTagName" value="sql"/>
    <add key="SqlAttributes" value="sqlId"/>
    <!-- Resource resx files Path-->
    <add key="ResPath" value="bin\\Resources\\"/>
    <add key="ResType" value=".resx"/>
    <!-- Web Logger Config-->
    <add key="WebLogConfig" value="WebLogger"/>
    <!-- Web Page Count-->
    <add key="PageCountString" value="10"/>
    <!-- Web Page Count-->
    <add key="PageSplitString" value="2"/>
    <!--MaxLengthCount-->
    <add key="MaxLengthCount" value="500"/>
    <!--MaxLength-->
    <add key="MaxLength" value="1000"/>
    <!--MaxTicketLength-->
    <add key="MaxTicketLength" value="5000"/>
    <!--Local Config XML files Path-->
    <add key="LocalXmlPath" value="Config\"/>
    <!--mapi的路径，用于切换正式和测试环境-->
    <!--<add key="mapiUrl" value="http://mapi.huitongke.com/mapi"/>-->
    <add key="mapiUrl" value="http://mapi.huitongke.com:8090/mapi"/>
    <!--lmapiurl 路径-->
    <!--<add key="lmApiUrl" value="http://lm.huitongke.com/lm"/>-->
    <add key="lmApiUrl" value="http://lm.huitongke.com:8180"/>
    <!--<add key="lmApiUrlV2" value="http://api.hotelvp.com/v2"/>-->
    <add key="lmApiUrlV2" value="http://lm.huitongke.com:8180/api/v2"/>
    <!--lmScApiUrlV2 路径-->
    <!--<add key="lmScApiUrlV2" value="http://172.16.10.22:8080/apisc/v2"/>-->
    <add key="lmScApiUrlV2" value="http://172.16.1.52:8083/apisc/v2"/>
    <add key="lmMsgApiUrlV2" value="http://172.16.1.52:8083/bsi"/>
    <!--合作渠道路径-->
    <add key="WapLink" value="http://www.hotelvp.com/Android/PartnerLink.aspx?C="/>
    <!-- Service xml files Path-->
    <add key="SerUrlPath" value="bin\SerUrl\MapiURL.xml"/>
    <add key="phoneUser" value="htkmobile"/>
    <add key="phoneKey" value="0ec9cb9e60dc507313383ee2ff0a2e61"/>
    <!--文件上传大小限制  单位MB-->
    <add key="MaxFileUploadLength" value="10"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="PromotionCommonKey" value="000000"/>
    <add key="AdminMenuID" value="25"/>
    <add key="AllowUploadFileType" value=".*xls|.*xlsx|.*txt"/>
    <add key="SalesRoleID" value="5"/>
    <add key="InventoryControlID" value="7"/>
    <add key="ApprovedControlID" value="11"/>
    <add key="issueUrl" value="http://cms/WebUI/Issue/SaveIssueManager.aspx?ID={0}"/>
    <add key="issueMailTo" value="issue@hotelvp.com"/>
    <add key="issueMailSubject" value="[IssueID:{0}] Newly Assigned Issue Notification"/>
    <add key="mailFrom" value="misalert@hotelvp.com"/>
    <add key="mailHost" value="mail.hotelvp.com"/>
    <add key="mailPort" value="25"/>
    <add key="mailPass" value="1qazXSW@"/>
    <add key="HGroupID" value="1"/>
    <!--MD5加密KEY DOQNQUBJY0YKVEA3KDVUXHQWDY4LE5MT -->
    <add key="MD5Key" value="HTFMBDYEY8RFJQTSWJQYUQLV5NCQYKDY"/>
    <!--MD5加密KEY value="UOAD7JGLWESE6XVGGAQ84Z8D9LCAYJW4"/> -->
    <add key="MSGMD5Key" value="UOAD7JGLWESE6XVGGAQ84Z8D9LCAYJW4"/>
    <add key="GetImageByWeb" value="http://localhost:34067/CMSWeb/WebUI/Order/OrderOperationGetImageByWebPrint.aspx"/>
    <add key="GetFileName" value="E:\\webshotcmd.exe"/>
    <add key="RefreshRemainSecond" value="6"/>
    <add key="IsWriteLog" value="1"/>
    <add key="RefreshWav" value="http://www.hotelvp.com/Images/Sent.wav"/>
    <add key="SendFaxUserName" value="50060855"/>
    <add key="SendFaxUserPwd" value="h1o2t3e4l5v6p7"/>
    <add key="MyQueueUrl" value="tcp://172.16.20.15:61616/"/>
    <add key="MyQueueNm" value="PUSH"/>
    <add key="MyQueueReg" value="I00_IHP"/>
    <add key="uploaddir" value="uploadPic"/>
    <add key="DefaultissueTo" value="kevin.zhang"/>
    <add key="DefaultissueNm" value="Kevin Zhang"/>
    <add key="DefaultIssue" value="[kevin]Kevin Zhang"/>
    <add key="ImageServer" value="http://180.153.136.53:8080/imageApi/image/uploadImage.json"/>
    <add key="DefaultOrderConfirmIssue" value="[king.wu]Kevin Zhang"/>
    <add key="searchapiV2" value="http://search.hotelvp.com"/>
    <add key="SMD5Key" value="DOQNQUBJY0YKVEA3KDVUXHQWDY4LE5MT"/>
    <add key="OrderAproID" value="11"/>
    <!-- sales.all@hotelvp.com -->
    <add key="mailOrderConfirm" value="king.wu@hotelvp.com"/>
    <!-- 传真供应商 0：号百 1：35fax -->
    <add key="SendFaxByVender" value="0"/>
    <add key="HRQueueUrl" value="tcp://172.16.1.51:61616/"/>
    <add key="HRQueueNm" value="INDEX_UPDATE"/>
    
    
    
    
    
    
    
    
    
    
    
    
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />



    <add key="LdapAuthenticationPath" value="10.0.0.12" />
    <add key="LdapAuthenticationDomain" value="THL" />



  </appSettings>





  <system.web>

    <membership defaultProvider="mySqlMembershipProvider">
      <providers>
        <add name="mySqlMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            connectionStringName="UserCenterConnectionString"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            applicationName="TestMembership"
            requiresUniqueEmail="true"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="6"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression=""/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="myAspNetSqlRoleProvider">
      <providers>
        <add name="myAspNetSqlRoleProvider"
             connectionStringName="UserCenterConnectionString"
             applicationName="TestMembership"
             type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

    <compilation debug="true" targetFramework="4.0"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>-->


    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <identity impersonate="true"/>


    <authorization>
      <allow users="*"/>
    </authorization>
    
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ConnectionStringSQL" applicationName="/"/>
      </providers>
    </profile>
    <httpRuntime maxRequestLength="2048000" executionTimeout="36000"/>

    <!--mode="RemoteOnly"-->
    <customErrors mode="Off" defaultRedirect="~/Warning.htm">
      <error statusCode="404" redirect="~/Error.htm" />
    </customErrors>


  </system.web>


  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>