<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hotelvp.com/DatabaseList">
  <database name="MVC">
    <connectionString>Data Source=thls-test-01;Initial Catalog=CMSDEV;Persist Security Info=false;User ID=cms;Password=cms2011;</connectionString>
  </database>
  <database name="tuandb">
    <connectionString>Data Source=tuandb;User=freek;password=123456;pooling=true</connectionString>
  </database>
</databaseList>