<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <configSections>
        <section name="logManager" type="HotelVp.Common.Configuration.GlobalLogManagerSection, HotelVp.Common.DataConfiguration" />
        <section name="cacheManager" type="HotelVp.Common.Configuration.CacheManagerSection, HotelVp.Common.DataConfiguration" />
    </configSections>


	<appSettings>
		<add key="DatabaseListFile" value="D:\CMS_Config\Database.config"/>
	</appSettings>
	

</configuration>