<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ConStringEncrypt" value="true"/>
    <!--Oracle Conncetion BE4AFEB3D9BC2544721418101D95BB480D1F1A7AEAFAB12A96D0AEE5F6DEA0AAB4C409A598D0502EBA9C50190A77A081AFD5C4B2A5C7B3B7C80195D8689840130EE974B8EA9D6EEA4192A242FD12312E-->
    <add key="ConnectionString" value="BE4AFEB3D9BC2544721418101D95BB480D1F1A7AEAFAB12A96D0AEE5F6DEA0AAB4C409A598D0502EBA9C50190A77A081AFD5C4B2A5C7B3B7C80195D8689840130EE974B8EA9D6EEACD9A0A7BC926C40BB59090F67D518068"/>
    <!-- SQL XML files Path-->


    <add key="SqlPath" value="SqlStr\\"/>
    <add key="SqlType" value=".xml"/>
    <add key="SqlTagName" value="sql"/>
    <add key="SqlAttributes" value="sqlId"/>

    <!--Local Config XML files Path-->
    <add key="LocalXmlPath" value="Config\\"/>
    <!-- Service xml files Path-->
    <add key="SerUrlPath" value="bin\SerUrl\MapiURL.xml"/>


    <!-- FY Config-->
    <add key="FYApiUrl" value="http://www.xinsudu.com/fyport/"/>
    <add key="iMaxNum" value="20"/>
    <add key="FYMON" value="1"/>
    <add key="FYMD5" value="745fe8a4427d84bb"/>
    <add key="AgentID" value="jinjiang"/>
    <add key="ShowYE" value="1"/>

    <!-- 正式：http://10.0.0.157:8080/order/sendSMS.json http://mobileapp.jj-inn.cn/order/sendSMS.json? -->
    <add key="MsgUrl" value="http://mobileapp.jj-inn.cn/order/sendSMS.json?"/>
    <add key="MsgContent" value=" 亲爱的会员，恭喜您获得锦江之星“欢乐365，话费送不停”手机客户端活动的50元话费。话费已经成功充值到您的手机账户，敬请查收！"/>

    <add key="JJMD5" value="b260d35448d810243fc0149642c0eebeb044ddf5450f213d52cc38f80bff1bcf91564310cad47114"/>
    <!-- 正式MD5：HTAMBDYTY8RFJQT5WJQYUQLV7NCQYKDB -->
    <add key="JYMD5" value="HTAMBDYTY8RFJQT5WJQYUQLV7NCQYKDB"/>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>