<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">
  <dataCommand name="AutoListAllSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="AutoListHourSelect" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
       
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>
  
</dataOperations>