<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.hotelvp.com/DataOperation">

  <dataCommand name="UpdateIssueData" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        Update [CMS].[dbo].[IssueManager] Set 
           [Title] = @Title
        where nid = @IssueID
       ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String" />
      <param name="@Title" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="InsertIssueData" database="CMS" commandType="Text">
      <commandText>
        <![CDATA[
         INSERT INTO [CMS].[dbo].[IssueManager]
           ([Title]
           ,[Priority]
           ,[Type]
           ,[Assignto]
           ,[Status]
           ,[IsIndemnify]
           ,[IndemnifyPrice]
           ,[TicketCode]
           ,[TicketAmount]
           ,[RelatedType]
           ,[RelatedID]
           ,[Remark]
           ,[Create_User]
           ,[Create_Time]
           ,[Update_User]
           ,[Update_Time])
     VALUES
           (@Title
           ,@Priority
           ,@IssueType
           ,@Assignto
           ,@IssueStatus
           ,@IsIndemnify
           ,@IndemnifyPrice
           ,@TicketCode
           ,@TicketAmount
           ,@RelatedType
           ,@RelatedID
           ,@Remark
           ,@CreateUser
           ,@CreateTime
           ,@CreateUser
           ,@CreateTime)
       SET @IssueID = SCOPE_IDENTITY()
       ]]>
      </commandText>
      <parameters>
        <param name="@IssueID" dbType="Int32" direction="Output" />
        <param name="@Title" dbType="String" />
        <param name="@Priority" dbType="String" />
        <param name="@IssueType" dbType="String" />
        <param name="@Assignto" dbType="String" />
        <param name="@IssueStatus" dbType="String" />
        <param name="@IsIndemnify" dbType="String" />
        <param name="@IndemnifyPrice" dbType="String" />
        <param name="@TicketCode" dbType="String" />
        <param name="@TicketAmount" dbType="String" />
        <param name="@RelatedType" dbType="String" />
        <param name="@RelatedID" dbType="String" />
        <param name="@Remark" dbType="String" />
        <param name="@CreateUser" dbType="String" />
        <param name="@CreateTime" dbType="String" />
      </parameters>
    </dataCommand>

  <dataCommand name="InsertIssueData_back" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
         IF NOT EXISTS (SELECT [nid] FROM [CMS].[dbo].[IssueManager] where [RelatedID]=@RelatedID AND RelatedType=@RelatedType)
        BEGIN
        INSERT INTO [CMS].[dbo].[IssueManager]
           ([Title]
           ,[Priority]
           ,[Type]
           ,[Assignto]
           ,[Status]
           ,[IsIndemnify]
           ,[IndemnifyPrice]
           ,[TicketCode]
           ,[TicketAmount]
           ,[RelatedType]
           ,[RelatedID]
           ,[Remark]
           ,[Create_User]
           ,[Create_Time]
           ,[Update_User]
           ,[Update_Time])
     VALUES
           (@Title
           ,@Priority
           ,@IssueType
           ,@Assignto
           ,@IssueStatus
           ,@IsIndemnify
           ,@IndemnifyPrice
           ,@TicketCode
           ,@TicketAmount
           ,@RelatedType
           ,@RelatedID
           ,@Remark
           ,@CreateUser
           ,getdate()
           ,@CreateUser
           ,getdate())
       SET @IssueID = SCOPE_IDENTITY()
       END
       ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="Int32" direction="Output" />
      <param name="@Title" dbType="String" />
      <param name="@Priority" dbType="String" />
      <param name="@IssueType" dbType="String" />
      <param name="@Assignto" dbType="String" />
      <param name="@IssueStatus" dbType="String" />
      <param name="@IsIndemnify" dbType="String" />
      <param name="@IndemnifyPrice" dbType="String" />
      <param name="@TicketCode" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
      <param name="@RelatedType" dbType="String" />
      <param name="@RelatedID" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@CreateUser" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="InsertIssueHistory" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        INSERT INTO [CMS].[dbo].[IssueManager_History]
           ([IssueID]
           ,[Title]
           ,[Priority]
           ,[Type]
           ,[Assignto]
           ,[Status]
           ,[IsIndemnify]
           ,[IndemnifyPrice]
           ,[TicketCode]
           ,[TicketAmount]
           ,[RelatedType]
           ,[RelatedID]
           ,[Remark]
           ,[Create_User]
           ,[Create_Time])
     VALUES
           (@IssueID
           ,@Title
           ,@Priority
           ,@IssueType
           ,@Assignto
           ,@IssueStatus
           ,@IsIndemnify
           ,@IndemnifyPrice
           ,@TicketCode
           ,@TicketAmount
           ,@RelatedType
           ,@RelatedID
           ,@Remark
           ,@CreateUser
           ,@CreateTime)
       ]]>
    </commandText>
    <parameters>
      <param name="@IssueID" dbType="String"/>
      <param name="@Title" dbType="String" />
      <param name="@Priority" dbType="String" />
      <param name="@IssueType" dbType="String" />
      <param name="@Assignto" dbType="String" />
      <param name="@IssueStatus" dbType="String" />
      <param name="@IsIndemnify" dbType="String" />
      <param name="@IndemnifyPrice" dbType="String" />
      <param name="@TicketCode" dbType="String" />
      <param name="@TicketAmount" dbType="String" />
      <param name="@RelatedType" dbType="String" />
      <param name="@RelatedID" dbType="String" />
      <param name="@Remark" dbType="String" />
      <param name="@CreateUser" dbType="String" />
      <param name="@CreateTime" dbType="String" />
    </parameters>
  </dataCommand>
  
  <dataCommand name="GetIssueTodayList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT im.nid AS IssueID
			  ,im.[Title]
			  ,im.[Priority]
			  ,im.[Type]
        ,CASE when im.Type = '0' then '酒店问题' when im.[Type] = '1' then '订单状态问题' when im.[Type] = '2' then '订单支付问题' when im.[Type] = '3' then '订单返现问题' when im.[Type] = '4' then '优惠券问题' when im.[Type] = '5' then '发票问题' when im.[Type] = '6' then '用户问题' when im.[Type] = '7' then ' 提现问题' ELSE '' END AS TypeNM
			  ,im.[Assignto]
			  ,im.[Status]
			  ,im.[IsIndemnify]
        ,CASE when im.IsIndemnify = '0' then '否' when im.IsIndemnify = '1' then '是' ELSE '' END AS IsIndemnifyNM
			  ,im.[IndemnifyPrice]
			  ,im.[RelatedType]
			  ,im.[RelatedID]
			  ,im.[Remark]
			  ,im.[Create_User]
			  ,im.[Create_Time]
			  ,im.[Update_User]
			  ,im.[Update_Time]
        ,CASE when im.Status = '0' then '新建' when im.Status = '1' then '处理中' when im.Status = '2' then '已完成' when im.Status = '3' then '已删除' ELSE '' END AS DISStatus
        ,CASE when im.[RelatedType] = '0' then '订单' when im.[RelatedType] = '1' then '酒店' when im.[RelatedType] = '2' then '发票' when im.[RelatedType] = '3' then '用户' when im.[RelatedType] = '4' then '提现' when im.[RelatedType] = '5' then '反馈' ELSE '' END AS RelatedTypeNM
        ,cyu.[User_DspName] AS CreateUser
        ,cyus.[User_DspName] AS UpdateUser
        ,'['+im.[Assignto] + ']'+ cyusi.[User_DspName] AS AssignUser,
        cyusi.[User_DspName] AS AssigntoNm
			  FROM [CMS].[dbo].[IssueManager] im 
        left join [CMS].[dbo].[CMS_SYS_USERS] cyu on im.[Create_User] = cyu.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyus on im.[Update_User] = cyus.[User_Account]
        left join [CMS].[dbo].[CMS_SYS_USERS] cyusi on im.[Assignto] = cyusi.[User_Account]
      where im.Status in('0','1') 
      order by im.[Assignto], im.[Create_Time] desc
       ]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>

  <dataCommand name="GetMailToList" database="CMS" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT [User_Account] 
      ,[User_Email]
  FROM [CMS].[dbo].[CMS_SYS_USERS] where User_Account=@UserID
      ]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="String" />
    </parameters>
  </dataCommand>

</dataOperations>